<template>
  <div>
    <sear-big-header :type="'basket'"></sear-big-header>
    <sear-left-bar></sear-left-bar>
  </div>
</template>

<script>
export default {
  name: 'General'
}
</script>

<style scoped>

</style>
