<template>
  <section class="content">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-4 cats">
            <div class="title">
              <h4>Алматы</h4>
              <span>
                <b>+7</b>
                <svg version="1.2" preserveAspectRatio="none" viewBox="0 0 407.2 407.2" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 36px; height: 36px;">
                  <g>
                    <g>
                      <path d="M267.6,10.2c-5.6,0-10.4,4.8-10.4,10.4V49c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4V20.6
                        C278,15,273.2,10.2,267.6,10.2z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M366,51c-4-4-10.4-4-14.4,0l-20,20c-4,4-4,10.4,0,14.4s10.4,4,14.4,0l20-20C370,61.4,370,55,366,51z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M203.2,71l-20-20c-4-4-10.4-4-14.4,0s-4,10.4,0,14.4l20,20c4,4,10.4,4,14.4,0S207.2,75,203.2,71z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M275.2,322.6c-8-8-18.8-12.8-30.8-12.8c-0.4,0-0.8,0-0.8,0H131.2c-5.6,0-10.4,4.4-10.4,10.4c0,5.6,4.4,10.4,10.4,10.4
                        h112.4c0.4,0,0.4,0,0.8,0c6.4,0,12,2.4,16,6.8c4,4,6.8,10,6.8,16c0,6.4-2.4,12-6.8,16c-4,4-10,6.8-16,6.8c-6.4,0-12-2.4-16-6.8
                        c-4-4-6.8-10-6.8-16c0-5.6-4.8-10.4-10.4-10.4c-5.6,0-10.4,4.8-10.4,10.4c0,12,4.8,22.8,12.8,30.8s18.8,12.8,30.8,12.8
                        s22.8-4.8,30.8-12.8s12.8-18.8,12.8-30.8S283.2,330.6,275.2,322.6z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M365.6,233.4L346,213.8c-4-4-10.4-4-14.4,0c-1.6,1.6-2.4,3.2-2.8,5.2c-0.4-9.2-2.8-17.6-6-25.6c4-5.2,7.6-11.2,10-17.2
                        c3.6-8.4,5.2-17.6,5.2-26.8c0-19.6-8-37.2-20.8-49.6c-12.8-12.4-30.4-20.4-49.6-20.4c-13.2,0-25.6,3.6-36.4,10
                        c-7.6,4.8-14.4,10.8-20,18c-16-10.8-35.2-17.2-55.6-17.2c-24.4,0-46.8,8.8-64,23.6C76.4,127,65.2,144.6,60,165.4
                        c-15.6,2-29.6,9.2-40,19.6C7.6,197.4,0,214.6,0,233.4s7.6,36,20,48.4c12.4,12.4,29.6,20,48.4,20h182c21.6,0,40.8-8.8,55.2-22.8
                        c14-14,22.8-33.6,22.8-55.2v-0.4c0.4,1.6,1.2,3.2,2.8,4.4l20,20c4,4,10.4,4,14.4,0S369.6,237.4,365.6,233.4z M291.6,264.6
                        c-10.4,10.4-24.8,16.8-40.4,16.8H68.8c-13.2,0-25.2-5.2-34-14s-14-20.8-14-34s5.2-25.2,14-34s20.8-14,34-14c1.6,0,3.6-0.4,4.8-1.2
                        c2.4-1.6,4-4,4.4-6.8c2.8-18.8,12.4-35.6,26-47.2c13.6-11.6,31.6-18.8,50.8-18.8c16.4,0,31.6,5.2,44.4,14
                        c9.6,6.8,18,15.6,23.6,26.4c-1.6,0.8-3.2,1.2-4.8,2c-10,4.4-18.8,11.2-26.4,19.2c-3.6,4.4-3.2,10.8,0.8,14.4
                        c4.4,3.6,10.8,3.2,14.4-0.8c5.6-6,12-10.8,19.2-14.4c7.2-3.2,15.2-5.2,23.6-5.2c16,0,30,6.4,40.4,16.8
                        c10.4,10.4,16.8,24.8,16.8,40.4C308,240.2,301.6,254.2,291.6,264.6z M313.6,168.6c-0.8,2-1.6,4-2.8,5.6c-1.6-2-3.2-3.6-4.8-5.2
                        c-14-14-33.6-22.8-55.2-22.8c-2,0-4.4,0-6.4,0.4C240,137,234,128.2,226.8,121c4-5.6,9.2-10,14.8-13.6c7.6-4.8,16.4-7.2,25.6-7.2
                        c13.6,0,26.4,5.6,35.2,14.4c9.2,9.2,14.4,21.6,14.4,35.2C317.2,156.6,316,163,313.6,168.6z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M396.8,139.4h-28.4c-5.6,0-10.4,4.8-10.4,10.4c0,5.6,4.8,10.4,10.4,10.4h28.4c5.6,0,10.4-4.8,10.4-10.4
                        C406.8,144.2,402.4,139.4,396.8,139.4z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                </svg>
              </span>
            </div>
            <div class="vehicles">
              <div class="row-vehicle">
                <template v-for="(item,index) in subCats.slice(0, 5)">
                  <a :key="index" @click="showMaterial(subCats[index].id)">
                    <span>
                      <img :src="serverUrl+subCats[index].icon" style="width:auto; display:block; height:25px">
                    </span>
                    {{subCats[index].name}}
                  </a>
                </template>
              </div>
              <div class="row-vehicle">
                <template v-for="(item,index) in subCats.slice(5, 10)">
                  <a :key="index" @click="showMaterial(subCats[index+5].id)">
                    <span>
                      <img :src="serverUrl+subCats[index+4].icon" style="max-width:40px; display:block; height:auto">
                    </span>
                    {{subCats[index+4].name}}
                  </a>
                </template>
              </div>
            </div>
            <div class="search-box">
              <input type="text" placeholder="Поиск техники" v-model="searchText">
              <button>
                <svg version="1.2" viewBox="0 0 30.239 30.239" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 23px; height: 23px;">
                  <g>
                    <path d="M20.194,3.46c-4.613-4.613-12.121-4.613-16.734,0c-4.612,4.614-4.612,12.121,0,16.735   c4.108,4.107,10.506,4.547,15.116,1.34c0.097,0.459,0.319,0.897,0.676,1.254l6.718,6.718c0.979,0.977,2.561,0.977,3.535,0   c0.978-0.978,0.978-2.56,0-3.535l-6.718-6.72c-0.355-0.354-0.794-0.577-1.253-0.674C24.743,13.967,24.303,7.57,20.194,3.46z    M18.073,18.074c-3.444,3.444-9.049,3.444-12.492,0c-3.442-3.444-3.442-9.048,0-12.492c3.443-3.443,9.048-3.443,12.492,0   C21.517,9.026,21.517,14.63,18.073,18.074z" fill="#FFFFFF" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                  </g>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import config from '@/constants'
export default {
  name: 'ListVehicle',
  data () {
    return {
      serverUrl: config.serverUrl,
      searchText: '',
      subCats: this.$store.getters.getMaterials
    }
  },
  methods: {
    showMaterial (id) {
      this.$parent.filterMaterial(id)
    },
    search (nameKey, myArray) {
      for (let i = 0; i < myArray.length; i++) {}
    },
    getVehicle (techId) {
      this.$parent.filterVehicles(techId)
    }
  },
  mounted () {
    if (this.$store.getters.getMaterials.length === 0) {
      this.$store.dispatch('listMaterials')
        .then(response => {
          this.subCats = this.$store.getters.getMaterials
        })
    }
  }
}
</script>

<style scoped>

</style>
