<template>
  <section class="content" id="zakaz">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-4 cats" v-if="first">
            <div class="title">
              <h4>Алматы</h4>
              <span>
                <b>+7</b>
                <svg version="1.2" preserveAspectRatio="none" viewBox="0 0 407.2 407.2" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 36px; height: 36px;">
                  <g>
                    <g>
                      <path d="M267.6,10.2c-5.6,0-10.4,4.8-10.4,10.4V49c0,5.6,4.8,10.4,10.4,10.4c5.6,0,10.4-4.8,10.4-10.4V20.6
                        C278,15,273.2,10.2,267.6,10.2z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M366,51c-4-4-10.4-4-14.4,0l-20,20c-4,4-4,10.4,0,14.4s10.4,4,14.4,0l20-20C370,61.4,370,55,366,51z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M203.2,71l-20-20c-4-4-10.4-4-14.4,0s-4,10.4,0,14.4l20,20c4,4,10.4,4,14.4,0S207.2,75,203.2,71z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M275.2,322.6c-8-8-18.8-12.8-30.8-12.8c-0.4,0-0.8,0-0.8,0H131.2c-5.6,0-10.4,4.4-10.4,10.4c0,5.6,4.4,10.4,10.4,10.4
                        h112.4c0.4,0,0.4,0,0.8,0c6.4,0,12,2.4,16,6.8c4,4,6.8,10,6.8,16c0,6.4-2.4,12-6.8,16c-4,4-10,6.8-16,6.8c-6.4,0-12-2.4-16-6.8
                        c-4-4-6.8-10-6.8-16c0-5.6-4.8-10.4-10.4-10.4c-5.6,0-10.4,4.8-10.4,10.4c0,12,4.8,22.8,12.8,30.8s18.8,12.8,30.8,12.8
                        s22.8-4.8,30.8-12.8s12.8-18.8,12.8-30.8S283.2,330.6,275.2,322.6z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M365.6,233.4L346,213.8c-4-4-10.4-4-14.4,0c-1.6,1.6-2.4,3.2-2.8,5.2c-0.4-9.2-2.8-17.6-6-25.6c4-5.2,7.6-11.2,10-17.2
                        c3.6-8.4,5.2-17.6,5.2-26.8c0-19.6-8-37.2-20.8-49.6c-12.8-12.4-30.4-20.4-49.6-20.4c-13.2,0-25.6,3.6-36.4,10
                        c-7.6,4.8-14.4,10.8-20,18c-16-10.8-35.2-17.2-55.6-17.2c-24.4,0-46.8,8.8-64,23.6C76.4,127,65.2,144.6,60,165.4
                        c-15.6,2-29.6,9.2-40,19.6C7.6,197.4,0,214.6,0,233.4s7.6,36,20,48.4c12.4,12.4,29.6,20,48.4,20h182c21.6,0,40.8-8.8,55.2-22.8
                        c14-14,22.8-33.6,22.8-55.2v-0.4c0.4,1.6,1.2,3.2,2.8,4.4l20,20c4,4,10.4,4,14.4,0S369.6,237.4,365.6,233.4z M291.6,264.6
                        c-10.4,10.4-24.8,16.8-40.4,16.8H68.8c-13.2,0-25.2-5.2-34-14s-14-20.8-14-34s5.2-25.2,14-34s20.8-14,34-14c1.6,0,3.6-0.4,4.8-1.2
                        c2.4-1.6,4-4,4.4-6.8c2.8-18.8,12.4-35.6,26-47.2c13.6-11.6,31.6-18.8,50.8-18.8c16.4,0,31.6,5.2,44.4,14
                        c9.6,6.8,18,15.6,23.6,26.4c-1.6,0.8-3.2,1.2-4.8,2c-10,4.4-18.8,11.2-26.4,19.2c-3.6,4.4-3.2,10.8,0.8,14.4
                        c4.4,3.6,10.8,3.2,14.4-0.8c5.6-6,12-10.8,19.2-14.4c7.2-3.2,15.2-5.2,23.6-5.2c16,0,30,6.4,40.4,16.8
                        c10.4,10.4,16.8,24.8,16.8,40.4C308,240.2,301.6,254.2,291.6,264.6z M313.6,168.6c-0.8,2-1.6,4-2.8,5.6c-1.6-2-3.2-3.6-4.8-5.2
                        c-14-14-33.6-22.8-55.2-22.8c-2,0-4.4,0-6.4,0.4C240,137,234,128.2,226.8,121c4-5.6,9.2-10,14.8-13.6c7.6-4.8,16.4-7.2,25.6-7.2
                        c13.6,0,26.4,5.6,35.2,14.4c9.2,9.2,14.4,21.6,14.4,35.2C317.2,156.6,316,163,313.6,168.6z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M396.8,139.4h-28.4c-5.6,0-10.4,4.8-10.4,10.4c0,5.6,4.8,10.4,10.4,10.4h28.4c5.6,0,10.4-4.8,10.4-10.4
                        C406.8,144.2,402.4,139.4,396.8,139.4z" vector-effect="non-scaling-stroke"></path>
                    </g>
                  </g>
                </svg>
              </span>
            </div>
            <!-- <form action=""> -->
            <div class="form">
              <div class="input-group">
                <input type="text" class="form-control" :value="stringLimited(Order.address,25)" :class="{'has-value' : Order.address, focused: Order.address}">
                <label>Адресс</label>
                <span class="form-span">
                    <svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                      <path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
                      s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
                      c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
                      c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    </svg>
                  </span>
              </div>
              <div class="error" v-if="$v.Order.address.$error">
                <li v-if="!$v.Order.address.required && $v.Order.address.$dirty">Это поле обязательно</li>
              </div>
              <div class="input-group">
                <select class="form-control" v-model="Order.tech_id" :class="{'has-value' : Order.tech_id, focused: Order.tech_id}" v-on:change="getTransports()">
                  <option></option>
                  <template v-for="(item, index) in techs">
                    <option v-bind:key="index" v-bind:value="item.id">{{item.name}}</option>
                  </template>
                </select>
                <label>Вид техники</label>
                <span class="form-span">
                  <svg viewBox="0 0 480 480"  style="width: 24px; height: 24px;">
                    <g>
                      <g>
                        <path d="M477.656,226.344l-16-16c-1.5-1.5-3.534-2.344-5.656-2.344h-24c-4.418,0-8,3.582-8,8v40h-16v-56c0-4.418-3.582-8-8-8
                          h-51.72l-29.6-44.44c-1.489-2.232-3.997-3.568-6.68-3.56h-48v-16h56c4.418,0,8-3.582,8-8V88c0-4.418-3.582-8-8-8H160
                          c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h56v16h-48c-2.674,0-5.172,1.335-6.656,3.56L131.72,192H88c-4.418,0-8,3.582-8,8v48
                          H64v-48c0-4.418-3.582-8-8-8H24c-2.674,0-5.172,1.335-6.656,3.56l-16,24C0.47,220.876,0.003,222.42,0,224v24
                          c0.003,1.58,0.47,3.124,1.344,4.44L16,274.4V344c0,4.418,3.582,8,8,8h32c4.418,0,8-3.582,8-8v-48h16v48c0,4.418,3.582,8,8,8h43.72
                          l29.6,44.44c1.489,2.232,3.997,3.568,6.68,3.56h232c4.418,0,8-3.582,8-8v-72h16v56c0,4.418,3.582,8,8,8h24
                          c2.122,0,4.156-0.844,5.656-2.344l16-16c1.5-1.5,2.344-3.534,2.344-5.656V232C480,229.878,479.156,227.844,477.656,226.344z
                           M48,256v80H32v-64c-0.003-1.58-0.47-3.124-1.344-4.44L16,245.6v-19.2L28.28,208H48V256z M80,280H64v-16h16V280z M168,112V96h144
                          v16H168z M248,128v16h-16v-16H248z M360,384H172.28l-29.6-44.44c-1.489-2.232-3.997-3.568-6.68-3.56H96V208h40
                          c2.674,0,5.172-1.335,6.656-3.56L172.28,160h135.44l29.6,44.44c1.489,2.232,3.997,3.568,6.68,3.56h16V384z M392,264v120h-16V208
                          h16V264z M424,304h-16v-32h16V304z M464,356.688L452.688,368H440V224h12.688L464,235.312V356.688z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M309.897,258.593C308.381,256.94,306.242,256,304,256h-38.024l13.832-62.264c0.958-4.313-1.761-8.586-6.074-9.545
                          c-2.55-0.567-5.216,0.147-7.142,1.913l-96,88c-3.256,2.986-3.475,8.047-0.489,11.303C171.619,287.06,173.758,288,176,288h38.024
                          l-13.832,62.264c-0.958,4.313,1.761,8.586,6.074,9.545c2.55,0.567,5.216-0.147,7.142-1.913l96-88
                          C312.664,266.91,312.883,261.849,309.897,258.593z M221.32,328.936l10.488-47.2c0.959-4.313-1.76-8.587-6.073-9.545
                          c-0.57-0.127-1.151-0.191-1.735-0.191h-27.432l62.112-56.936l-10.488,47.2c-0.959,4.313,1.76,8.587,6.073,9.545
                          c0.57,0.127,1.151,0.19,1.735,0.191h27.432L221.32,328.936z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="112" y="256" width="16" height="64" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="112" y="224" width="16" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="error" v-if="$v.Order.tech_id.$error">
                <li v-if="!$v.Order.tech_id.required && $v.Order.tech_id.$dirty">Это поле обязательно</li>
              </div>
              <div class="input-group">
                <select class="form-control" v-model="Order.transport_id" :class="{'has-value' : Order.transport_id, focused: Order.transport_id}">
                  <option></option>
                  <template v-for="(item, index) in transports">
                    <option v-bind:key="index" v-bind:value="item.id">{{item.name}}</option>
                  </template>
                </select>
                <label>Вид транспорта</label>
                <span class="form-span">
                  <svg viewBox="0 0 496 496" style="width: 20px; height: 20px;">
                    <g>
                      <g>
                        <path d="M464,352h-77.096C451.128,323.256,496,258.792,496,184C496,82.536,413.464,0,312,0c-68.2,0-129.608,36.912-161.84,96.624
                          c-2-0.392-4.048-0.624-6.16-0.624H64c-17.648,0-32,14.352-32,32v67.056l-18.736,9.368C5.088,208.512,0,216.744,0,225.888v140.216
                          c0,9.152,5.088,17.376,13.264,21.472L32,396.944V464c0,17.648,14.352,32,32,32h80h320c17.648,0,32-14.352,32-32v-80
                          C496,366.352,481.648,352,464,352z M32,379.056l-11.576-5.792c-2.728-1.36-4.424-4.096-4.424-7.152V225.888
                          c0-3.056,1.696-5.8,4.424-7.16L32,212.944V379.056z M112,480H96V160H80v36.688l-21.656,21.656l11.312,11.312L80,219.312v90.024
                          L57.6,339.2l12.8,9.6L80,336v85.344L57.6,451.2l12.8,9.6L80,448v32H64c-8.824,0-16-7.176-16-16v-72.008l9.6,12.8l12.8-9.592
                          L48,365.336v-90.024l10.344,10.344l11.312-11.312L48,252.688v-89.376l10.344,10.344l11.312-11.312L48,140.688V128
                          c0-8.824,7.176-16,16-16h16v32h16v-32h16V480z M160,133.336L137.6,163.2l12.8,9.592l9.6-12.8v85.344L137.6,275.2l12.8,9.592
                          l9.6-12.8v93.344L137.6,395.2l12.8,9.592l9.6-12.8V464c0,8.824-7.176,16-16,16h-16v-32.008l9.6,12.8l12.8-9.592L128,421.336
                          v-85.344l9.6,12.8l12.8-9.592L128,309.336v-93.344l9.6,12.8l12.8-9.592L128,189.336V112h16c8.824,0,16,7.176,16,16V133.336z
                           M197.216,83.496l-24.496,6.56c12.352-18.376,27.984-33.808,45.888-45.784l40.104,10.744l4.144-15.456l-24.576-6.584
                          c19.336-9.408,40.568-15.184,62.792-16.6l29.28,29.28l11.312-11.312L323.92,16.608c22.32,1.576,43.4,7.52,62.488,17l10.648,39.76
                          l15.456-4.144l-6.536-24.408c18.048,12.224,33.576,27.88,45.704,46l-10.688,39.904l15.456,4.144l6.48-24.184
                          c9.336,19.128,15.112,40.24,16.536,62.56l-29.112,29.112l11.312,11.312l17.736-17.736c-1.576,22.32-7.52,43.4-17,62.488
                          l-39.76,10.648l4.144,15.456l24.408-6.536c-12.224,18.048-27.88,33.576-46,45.704L365.288,313l-4.144,15.456l24.184,6.48
                          c-19.128,9.336-40.24,15.112-62.56,16.536l-29.112-29.112l-11.312,11.312l17.832,17.832c-21.824-1.552-43.064-7.384-62.552-17.008
                          l-10.672-39.84l-15.456,4.144l6.544,24.416c-3.44-2.32-6.768-4.824-10.032-7.4v-72.184C228.728,279.64,267.536,304,312,304
                          c35.536,0,69.04-15.616,91.912-42.848l-12.248-10.296C371.832,274.464,342.8,288,312,288c-57.344,0-104-46.656-104-104
                          S254.656,80,312,80s104,46.656,104,104c0,15.6-3.368,30.592-10.008,44.56l14.456,6.872C428.112,219.304,432,202,432,184
                          c0-66.168-53.832-120-120-120s-120,53.832-120,120c0,6.816,0.704,13.448,1.8,19.952l-17.8-8.896V128
                          c0-7.728-2.864-14.728-7.44-20.264l32.8-8.784L197.216,83.496z M237.176,352H208v-16.224
                          C217.224,342.096,227.016,347.48,237.176,352z M187.96,390.968L200.008,400H176v-3.056L187.96,390.968z M176,379.056V212.944
                          l11.576,5.792c2.728,1.36,4.424,4.096,4.424,7.152v140.224c0,3.056-1.696,5.8-4.424,7.16L176,379.056z M480,432H272v16h48.008
                          l-12.8,9.6l9.592,12.8l29.864-22.4h85.344l-12.8,9.6l9.592,12.8l29.864-22.4H480v16c0,8.824-7.176,16-16,16h-61.336L372.8,457.6
                          l-9.6,12.8L376,480h-93.336L252.8,457.6l-9.6,12.8L256,480h-84.448c2.752-4.728,4.448-10.144,4.448-16v-16h24.008l-12.8,9.6
                          l9.592,12.8l29.864-22.4H256v-16h-80v-16h304V432z M480,400h-21.336L428.8,377.6l-9.6,12.8L432,400h-85.336L316.8,377.6l-9.6,12.8
                          L320,400h-93.336l-24.416-18.312c3.248-3.792,5.224-8.552,5.624-13.688h48.136l-12.8,9.6l9.592,12.8l29.864-22.4h93.344l-12.8,9.6
                          l9.592,12.8l29.864-22.4H464c8.824,0,16,7.176,16,16V400z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M312,128c-30.872,0-56,25.128-56,56s25.128,56,56,56s56-25.128,56-56S342.872,128,312,128z M312,224
                          c-22.056,0-40-17.944-40-40c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40C352,206.056,334.056,224,312,224z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="304" y="96" width="16" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="227.918" y="151.286" transform="matrix(0.3086 -0.9512 0.9512 0.3086 11.6027 334.5342)" width="16" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="256.966" y="240.727" transform="matrix(0.5878 -0.809 0.809 0.5878 -92.0044 316.8796)" width="15.992" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                    <g>
                      <g>
                        <rect x="351.017" y="240.674" transform="matrix(0.8088 -0.5881 0.5881 0.8088 -77.5944 258.6838)" width="16" height="15.992" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                    <g>
                      <g>
                          <rect x="380.042" y="151.287" transform="matrix(0.9511 -0.309 0.309 0.9511 -30.2302 127.7088)" width="15.999" height="15.999" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                      </g>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="error" v-if="$v.Order.transport_id.$error">
                <li v-if="!$v.Order.transport_id.required && $v.Order.transport_id.$dirty">Это поле обязательно</li>
              </div>
              <div class="input-group">
                <select class="form-control" v-model="Order.compute_id" :class="{'has-value' : Order.compute_id, focused: Order.compute_id}">
                  <option></option>
                  <template v-for="(item, index) in computes">
                    <option v-bind:key="index" v-bind:value="item.id">{{item.name}}</option>
                  </template>
                </select>
                <label>1 расходный</label>
                <span class="form-span">
                  <svg viewBox="0 0 512 512" style="width: 20px; height: 20px;">
                    <g>
                      <g>
                        <g>
                          <path d="M85.333,341.333c-11.76,0-21.333,9.573-21.333,21.333S73.573,384,85.333,384c11.76,0,21.333-9.573,21.333-21.333
                            S97.094,341.333,85.333,341.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M192,64c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333s21.333-9.573,21.333-21.333
                            C213.333,73.573,203.76,64,192,64z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M426.667,106.667c-47.052,0-85.333,38.281-85.333,85.333c0,31.796,36.642,88.85,59.561,121.451
                            c-1.374,1.042-2.591,2.301-3.353,3.977c-2.313,5.073-0.313,11.01,4.448,13.698c-4.656,2.865-6.438,8.865-3.948,13.854
                            c1.875,3.74,5.635,5.896,9.552,5.896c1.604,0,3.229-0.365,4.76-1.125l19.033-9.517l0.005-0.001l0.046-0.023
                            c0.061-0.031,0.085-0.103,0.146-0.135c1.358-0.71,2.594-1.667,3.552-2.917C443,326.885,512,235.594,512,192
                            C512,144.948,473.719,106.667,426.667,106.667z M426.667,312.813c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64
                            s64,28.708,64,64C490.667,219.156,450.115,280.552,426.667,312.813z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M426.667,170.667c-11.76,0-21.333,9.573-21.333,21.333s9.573,21.333,21.333,21.333S448,203.76,448,192
                            S438.427,170.667,426.667,170.667z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M111.383,483.719c22.936-32.664,59.284-89.383,59.284-121.052c0-47.052-38.281-85.333-85.333-85.333
                            C38.281,277.333,0,315.615,0,362.667c0,43.594,69,134.885,76.865,145.156c0.568,0.741,1.384,1.172,2.107,1.73
                            c0.435,0.335,0.758,0.75,1.234,1.013c1.565,0.871,3.286,1.434,5.128,1.434l0.005-0.001L85.344,512
                            c0.245,0,0.48-0.155,0.725-0.172c1.398-0.102,2.78-0.336,4.01-0.947c0.008-0.004,0.017-0.003,0.025-0.007l19.083-9.542
                            c5.271-2.635,7.406-9.042,4.771-14.313C113.307,485.716,112.419,484.613,111.383,483.719z M85.333,483.479
                            c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64c35.292,0,64,28.708,64,64
                            C149.333,389.823,108.781,451.219,85.333,483.479z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M369.135,347.5l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C380.813,347.01,374.396,344.896,369.135,347.5z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M167.021,448.563l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C178.688,448.063,172.281,445.958,167.021,448.563z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M301.76,381.188l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C313.427,380.688,307.031,378.563,301.76,381.188z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M234.385,414.875l-33.677,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.677-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C246.052,414.375,239.635,412.26,234.385,414.875z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M240.885,246.219c-2.438,5.365-0.073,11.688,5.292,14.125l39.156,17.802c1.438,0.656,2.938,0.958,4.406,0.958
                            c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.156-17.802
                            C249.615,238.458,243.302,240.875,240.885,246.219z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M368.073,314.708c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.167-17.802
                            c-5.427-2.458-11.698-0.052-14.125,5.292c-2.438,5.365-0.073,11.688,5.292,14.125l39.167,17.802
                            C365.104,314.406,366.604,314.708,368.073,314.708z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          <path d="M211.406,243.49c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.063-11.688-5.292-14.125l-7.367-3.348
                            c20.206-27.582,68.867-97.78,68.867-134.434C277.333,38.281,239.052,0,192,0s-85.333,38.281-85.333,85.333
                            c0,43.594,69,134.885,76.865,145.156c0.092,0.121,0.246,0.167,0.344,0.283c0.708,0.854,1.612,1.516,2.59,2.128
                            c0.345,0.215,0.607,0.53,0.974,0.704c0.056,0.026,0.089,0.078,0.145,0.104L207,242.531
                            C208.438,243.188,209.938,243.49,211.406,243.49z M128,85.333c0-35.292,28.708-64,64-64s64,28.708,64,64
                            c0,27.156-40.552,88.552-64,120.813C168.552,173.885,128,112.49,128,85.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="error" v-if="$v.Order.compute_id.$error">
                <li v-if="!$v.Order.compute_id.required && $v.Order.compute_id.$dirty">Это поле обязательно</li>
              </div>
              <div class="input-group">
                <select class="form-control" v-model="Order.nds" :class="{'has-value' : Order.nds, focused: Order.nds}">
                  <option></option>
                  <template v-for="(item, index) in commissions">
                    <option v-bind:key="index" v-bind:value="item.id">{{item.name}}</option>
                  </template>
                </select>
                <label>Комиссия</label>
                <span class="form-span">
                    <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
                      <g>
                        <path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
                          C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
                          C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
                          C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
                          c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
                          c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
                          c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
                          C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
                          s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
                          C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
                          c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
                          c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
                          C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
                          C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
                          C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
                          C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </svg>
                  </span>
              </div>
              <div class="error" v-if="$v.Order.nds.$error">
                <li v-if="!$v.Order.nds.required && $v.Order.nds.$dirty">Это поле обязательно</li>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" v-model="Order.price" :class="{'has-value' : Order.price, focused: Order.price}">
                <label>Цена</label>
                <span class="form-span">
                  <svg viewBox="0 0 512 512" style="width: 20px; height: 20px;">
                    <g>
                      <g>
                        <path d="M85.072,454.931c-1.859-1.861-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93c-1.86,1.861-2.93,4.44-2.93,7.07
                          s1.069,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931s5.21-1.07,7.069-2.931c1.86-1.859,2.931-4.439,2.931-7.069
                          S86.933,456.791,85.072,454.931z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M469.524,182.938c-1.86-1.861-4.43-2.93-7.07-2.93c-2.63,0-5.21,1.069-7.07,2.93c-1.859,1.86-2.93,4.44-2.93,7.07
                          s1.07,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931c2.64,0,5.21-1.07,7.07-2.931c1.869-1.859,2.939-4.439,2.939-7.069
                          S471.393,184.798,469.524,182.938z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M509.065,2.929C507.189,1.054,504.645,0,501.992,0L255.998,0.013c-5.522,0-9.999,4.478-9.999,10V38.61l-94.789,25.399
                          c-5.335,1.43-8.501,6.913-7.071,12.247l49.127,183.342l-42.499,42.499c-5.409-7.898-14.491-13.092-24.764-13.092H30.006
                          c-16.542,0-29.999,13.458-29.999,29.999v162.996C0.007,498.542,13.464,512,30.006,512h95.998c14.053,0,25.875-9.716,29.115-22.78
                          l11.89,10.369c9.179,8.004,20.939,12.412,33.118,12.412h301.867c5.522,0,10-4.478,10-10V10
                          C511.992,7.348,510.94,4.804,509.065,2.929z M136.002,482.001c0,5.513-4.486,10-10,10H30.005c-5.514,0-10-4.486-10-10V319.005
                          c0-5.514,4.486-10,10-10h37.999V424.2c0,5.522,4.478,10,10,10s10-4.478,10-10V309.005h37.999c5.514,0,10,4.486,10,10V482.001z
                           M166.045,80.739l79.954-21.424V96.37l-6.702,1.796c-2.563,0.687-4.746,2.362-6.072,4.659s-1.686,5.026-0.999,7.588
                          c3.843,14.341-4.698,29.134-19.039,32.977c-2.565,0.688-4.752,2.366-6.077,4.668c-1.325,2.301-1.682,5.035-0.989,7.599
                          l38.979,144.338h-20.07l-10.343-40.464c-0.329-1.288-0.905-2.475-1.676-3.507L166.045,80.739z M245.999,142.229v84.381
                          l-18.239-67.535C235.379,155.141,241.614,149.255,245.999,142.229z M389.663,492H200.125V492c-7.345,0-14.438-2.658-19.974-7.485
                          l-24.149-21.061V325.147l43.658-43.658l7.918,30.98c1.132,4.427,5.119,7.523,9.688,7.523l196.604,0.012c7.72,0,14,6.28,14,14
                          c0,7.72-6.28,14-14,14H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h132.04c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14
                          H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h110.643c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14H313.13
                          c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h76.533c7.72,0,14,6.28,14,14C403.662,485.72,397.382,492,389.663,492z
                           M491.994,492h-0.001h-71.359c1.939-4.273,3.028-9.01,3.028-14s-1.089-9.727-3.028-14h3.139c18.747,0,33.999-15.252,33.999-33.999
                          c0-5.468-1.305-10.635-3.609-15.217c14.396-3.954,25.005-17.149,25.005-32.782c0-7.584-2.498-14.595-6.711-20.255V235.007
                          c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10v113.792c-2.35-0.515-4.787-0.795-7.289-0.795h-0.328
                          c1.939-4.273,3.028-9.01,3.028-14c0-18.748-15.252-33.999-33.999-33.999h-16.075c17.069-7.32,29.057-24.286,29.057-44.005
                          c0-26.389-21.468-47.858-47.857-47.858c-26.388,0-47.857,21.469-47.857,47.858c0,19.719,11.989,36.685,29.057,44.005h-54.663
                          V109.863c17.864-3.893,31.96-17.988,35.852-35.853h75.221c3.892,17.865,17.988,31.96,35.852,35.853v31.09c0,5.522,4.478,10,10,10
                          s10-4.478,10-10v-40.018c0-5.522-4.478-10-10-10c-14.847,0-26.924-12.079-26.924-26.925c0-5.522-4.478-10-10-10h-93.076
                          c-5.522,0-10,4.478-10,10c0,14.847-12.078,26.925-26.924,26.925c-5.522,0-10,4.478-10,10v199.069H266V20.011L491.994,20V492z
                           M378.996,283.858c-15.361,0-27.857-12.497-27.857-27.857s12.497-27.858,27.857-27.858S406.853,240.64,406.853,256
                          S394.357,283.858,378.996,283.858z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                </svg>
                </span>
              </div>
              <div class="error" v-if="$v.Order.price.$error">
                <li v-if="!$v.Order.price.required && $v.Order.price.$dirty">Это поле обязательно</li>
                <li v-if="!$v.Order.price.numeric && $v.Order.price.$dirty">Введите числовые значения</li>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" v-model="Order.comments" :class="{'has-value' : Order.comments, focused: Order.comments}">
                <label>Комментарий, пожелания</label>
                <span class="form-span">
                    <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                      <g>
                        <path d="M10,25.465h13c0.553,0,1-0.448,1-1s-0.447-1-1-1H10c-0.553,0-1,0.448-1,1S9.447,25.465,10,25.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M36,29.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,29.465,36,29.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M36,35.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,35.465,36,35.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M54.072,2.535L19.93,2.465c-3.27,0-5.93,2.66-5.93,5.93v5.124l-8.07,0.017c-3.27,0-5.93,2.66-5.93,5.93v21.141
                          c0,3.27,2.66,5.929,5.93,5.929H12v10c0,0.413,0.254,0.784,0.64,0.933c0.117,0.045,0.239,0.067,0.36,0.067
                          c0.276,0,0.547-0.115,0.74-0.327l9.704-10.675l16.626-0.068c3.27,0,5.93-2.66,5.93-5.929v-0.113l5.26,5.786
                          c0.193,0.212,0.464,0.327,0.74,0.327c0.121,0,0.243-0.022,0.36-0.067c0.386-0.149,0.64-0.52,0.64-0.933v-10h1.07
                          c3.27,0,5.93-2.66,5.93-5.929V8.465C60,5.196,57.341,2.536,54.072,2.535z M44,40.536c0,2.167-1.763,3.929-3.934,3.929l-17.07,0.07
                          c-0.28,0.001-0.548,0.12-0.736,0.327L14,53.949v-8.414c0-0.552-0.447-1-1-1H5.93c-2.167,0-3.93-1.763-3.93-3.929V19.465
                          c0-2.167,1.763-3.93,3.932-3.93l9.068-0.019c0,0,0,0,0,0c0.001,0,0.001,0,0.002,0l25.068-0.052c2.167,0,3.93,1.763,3.93,3.93
                          v18.441V40.536z M58,29.606c0,2.167-1.763,3.929-3.93,3.929H52c-0.553,0-1,0.448-1,1v8.414l-5-5.5V19.395
                          c0-3.27-2.66-5.93-5.932-5.93L16,13.514v-5.12c0-2.167,1.763-3.93,3.928-3.93l34.141,0.07c0.001,0,0.001,0,0.002,0
                          c2.167,0,3.93,1.763,3.93,3.93V29.606z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </svg>
                  </span>
              </div>
              <div class="error" v-if="$v.Order.comments.$error">
                <li v-if="!$v.Order.comments.required && $v.Order.comments.$dirty">Это поле обязательно</li>
              </div>
            </div>
            <div class="input-box">
              <button v-on:click="sendOrder()">Готово</button>
            </div>
            <!-- </form> -->
          </div>
          <div class="second" v-if="second">
            <div class="status" v-if="second">
              <div class="form">
                <div class="input-group">
                  <input type="text" class="form-control has-value" value="Запрос Отправлен" disabled/>
                  <label>Статус</label>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control has-value" placeholder="__тенге за__" v-model="Order.price" :class="{'has-value' : Order.price, focused: Order.price}">
                  <label>Цена</label>
                </div>
                <div class="input-box">
                  <button class="dbutton" @click="second = false,third = false,fourth = false">Отменить</button>
                  <button class="dbutton" @click="third = true">Принять</button>
                </div>
              </div>
            </div>
            <div class="status" v-if="third">
              <div class="form">
                <div class="order-status">
                  <div class="order-status-img" style="background: url(https://uc.uxpin.com/files/845614/838895/maxresdefault-6d3720.jpg)">
                  </div>
                  <div class="order-info">
                    <h6>Cтрела</h6>
                    <span>Shacman</span>
                    <span>Описание: Перевозка материалов...</span>
                  </div>
                </div>
                <div class="hr"></div>
                <div class="input-box">
                  <div class="info-status">
                    <span>Статус: работает</span>
                    <span>Цена: 5000тг за час</span>
                  </div>
                  <button class="dbutton" @click="fourth = true">Оплатить</button>
                </div>
              </div>
            </div>
          </div>
          <div class="third" v-if="fourth">
            <h5>Информация о платеже </h5>
            <div class="form">
              <div class="input-group">
                <input type="text" class="form-control has-value" value="ул. Мынбаева 28" />
                <label>Адресс</label>
                <span class="form-span">
                  <svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                    <path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
                    s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
                    c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
                    c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                  </svg>
                </span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control has-value" value="5000тг.">
                <label>Цена за 1 час</label>
                <span class="form-span">
                  <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
                    <g>
                      <path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
                        C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
                        C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
                        C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
                        c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
                        c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
                        c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
                        C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
                        s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
                        C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
                        c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
                        c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
                        C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
                        C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
                        C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
                        C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control has-value" value="15км."/>
                <label>Пройденная дистанция</label>
                <span class="form-span">
                  <svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                    <g>
                      <g>
                        <g>
                          <path d="M85.333,341.333c-11.76,0-21.333,9.573-21.333,21.333S73.573,384,85.333,384c11.76,0,21.333-9.573,21.333-21.333
                            S97.094,341.333,85.333,341.333z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M192,64c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333s21.333-9.573,21.333-21.333
                            C213.333,73.573,203.76,64,192,64z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M426.667,106.667c-47.052,0-85.333,38.281-85.333,85.333c0,31.796,36.642,88.85,59.561,121.451
                            c-1.374,1.042-2.591,2.301-3.353,3.977c-2.313,5.073-0.313,11.01,4.448,13.698c-4.656,2.865-6.438,8.865-3.948,13.854
                            c1.875,3.74,5.635,5.896,9.552,5.896c1.604,0,3.229-0.365,4.76-1.125l19.033-9.517l0.005-0.001l0.046-0.023
                            c0.061-0.031,0.085-0.103,0.146-0.135c1.358-0.71,2.594-1.667,3.552-2.917C443,326.885,512,235.594,512,192
                            C512,144.948,473.719,106.667,426.667,106.667z M426.667,312.813c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64
                            s64,28.708,64,64C490.667,219.156,450.115,280.552,426.667,312.813z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M426.667,170.667c-11.76,0-21.333,9.573-21.333,21.333s9.573,21.333,21.333,21.333S448,203.76,448,192
                            S438.427,170.667,426.667,170.667z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M111.383,483.719c22.936-32.664,59.284-89.383,59.284-121.052c0-47.052-38.281-85.333-85.333-85.333
                            C38.281,277.333,0,315.615,0,362.667c0,43.594,69,134.885,76.865,145.156c0.568,0.741,1.384,1.172,2.107,1.73
                            c0.435,0.335,0.758,0.75,1.234,1.013c1.565,0.871,3.286,1.434,5.128,1.434l0.005-0.001L85.344,512
                            c0.245,0,0.48-0.155,0.725-0.172c1.398-0.102,2.78-0.336,4.01-0.947c0.008-0.004,0.017-0.003,0.025-0.007l19.083-9.542
                            c5.271-2.635,7.406-9.042,4.771-14.313C113.307,485.716,112.419,484.613,111.383,483.719z M85.333,483.479
                            c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64c35.292,0,64,28.708,64,64
                            C149.333,389.823,108.781,451.219,85.333,483.479z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M369.135,347.5l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C380.813,347.01,374.396,344.896,369.135,347.5z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M167.021,448.563l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C178.688,448.063,172.281,445.958,167.021,448.563z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M301.76,381.188l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C313.427,380.688,307.031,378.563,301.76,381.188z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M234.385,414.875l-33.677,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                            c1.604,0,3.229-0.365,4.76-1.125l33.677-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                            C246.052,414.375,239.635,412.26,234.385,414.875z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M240.885,246.219c-2.438,5.365-0.073,11.688,5.292,14.125l39.156,17.802c1.438,0.656,2.938,0.958,4.406,0.958
                            c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.156-17.802
                            C249.615,238.458,243.302,240.875,240.885,246.219z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M368.073,314.708c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.167-17.802
                            c-5.427-2.458-11.698-0.052-14.125,5.292c-2.438,5.365-0.073,11.688,5.292,14.125l39.167,17.802
                            C365.104,314.406,366.604,314.708,368.073,314.708z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                          <path d="M211.406,243.49c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.063-11.688-5.292-14.125l-7.367-3.348
                            c20.206-27.582,68.867-97.78,68.867-134.434C277.333,38.281,239.052,0,192,0s-85.333,38.281-85.333,85.333
                            c0,43.594,69,134.885,76.865,145.156c0.092,0.121,0.246,0.167,0.344,0.283c0.708,0.854,1.612,1.516,2.59,2.128
                            c0.345,0.215,0.607,0.53,0.974,0.704c0.056,0.026,0.089,0.078,0.145,0.104L207,242.531
                            C208.438,243.188,209.938,243.49,211.406,243.49z M128,85.333c0-35.292,28.708-64,64-64s64,28.708,64,64
                            c0,27.156-40.552,88.552-64,120.813C168.552,173.885,128,112.49,128,85.333z" vector-effect="non-scaling-stroke" style="fill: rgb(66, 62, 150);"></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control has-value" value="2 часа" />
                <label>Время Работы</label>
                <span class="form-span">
                  <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
                    <g>
                      <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
                        S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      <path d="M30,6c-0.552,0-1,0.447-1,1v23H14c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1V7C31,6.447,30.552,6,30,6z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    </g>
                  </svg>
                </span>
              </div>
            </div>
            <h5>Итого: 10 000тг.</h5>
            <div class="input-box">
              <button class="dbutton">Оплатить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { TheMask } from 'vue-the-mask'
import { required, numeric } from 'vuelidate/lib/validators'

export default {
  name: 'OrderDirect',
  components: {
    'the-mask': TheMask
  },
  data () {
    return {
      gMapLoaded: this.$store.getters.getStatusGMap,
      userInfo: this.$store.getters.userInfo,
      userPosition: this.$store.getters.userPosition,
      first: true,
      second: false,
      third: false,
      fourth: false,
      Order: {
        address: '',
        nds: null,
        tech_id: null,
        transport_id: null,
        comments: '',
        price: null,
        compute_id: null
      },
      commissions: this.$store.getters.getCommissions,
      computes: this.$store.getters.getComputes,
      techs: this.$store.getters.getTechs,
      transports: []
    }
  },
  validations: {
    Order: {
      address: {
        required
      },
      tech_id: {
        required
      },
      transport_id: {
        required
      },
      compute_id: {
        required
      },
      nds: {
        required
      },
      price: {
        required,
        numeric
      },
      comments: {
        required
      }
    }
  },
  methods: {
    getTransports () {
      this.$store.dispatch('listTransport', {
        tech_id: this.Order.tech_id
      })
        .then(response => {
          this.transports = response
        })
        .catch(error => {
          console.log(error)
          this.transports = []
        })
      // this.$http.get('list/transports?tech_id=' + this.Order.tech_id)
      //   .then((response) => {
      //     if (response.status === 200) {
      //       this.transports = response.body.result
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error)
      //     this.transports = []
      //   })
    },
    stringLimited (word, length) {
      if (word.length > length) {
        return word.substring(0, length) + '...'
      } else {
        return word
      }
    },
    sendOrder () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$store.dispatch('techOrderThree', {
          driver_id: this.currentVehicle.id,
          client_id: this.userInfo.id,
          address: this.Order.address,
          lng: this.userPosition.lng,
          lat: this.userPosition.lat,
          commission_id: this.Order.nds,
          price: this.Order.price,
          comment: this.Order.comments,
          step: 3,
          start_date: this.Order.time
        })
          .then(response => {
            console.log(response)
          })
      }
    },
    /* eslint-disable */
    geocode () {
      let geoCoder = new google.maps.Geocoder
      const self = this
      geoCoder.geocode({ 'location': this.userPosition }, function (results, status) {
        if (status === 'OK') {
          if (results[1]) {
            self.Order.address = results[1].formatted_address
            console.log(results[1].formatted_address)
          } else {
            window.alert('No results found')
          }
        }
      })
    },
  },
  mounted () {
    Date.prototype.addHours = function (h) {
      this.setTime(this.getTime() + (h*60*60*1000));
      return this;
    }
    this.geocode()
    if(this.commissions.length < 1) {
      this.$store.dispatch('listCommissions')
        .then(response => {
          this.commissions = response
        })
    }
    this.$store.dispatch('listComputes')
    this.$store.dispatch('listTechs')
    this.$store.dispatch('listCities')
    this.$store.dispatch('listMarks')
    this.$store.dispatch('listRates')
  },
  watch: {
    '$store.getters.userPosition' (obj) {
      if (this.gMapLoaded) {
        this.userPosition = obj
        this.geocode()
      }
    },
    '$store.getters.getStatusGMap' (status) {
      this.gMapLoaded = status
      this.geocode()
    }
  }
}
</script>

<style scoped>

</style>
