<template>
  <header id="header" class="header2">
    <div class="container-fluid">
      <div class="row col-md-12 col-lg-12">
        <div class="col-lg-9 row">
          <div class="col-md-2 padding0">
            <router-link :to="{name: 'Vehicles'}"><img src="@/assets/images/logo.png" height="77" alt=""></router-link>
          </div>
          <div class="col-md-3 padding0 logo">
            <h2 @click="show()">Sear Trans</h2>
            <label class="dropdown" @click="dropDownCity = !dropDownCity">
              {{User.city.name}}
              <svg version="1.2" viewBox="0 0 24 24" style="width: 20px; height: 20px;">
                <g>
                  <path xmlns:default="http://www.w3.org/2000/svg" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" style="fill: rgb(0, 0, 0);"></path>
                </g>
              </svg>
            </label>
            <div class="dropdownmenu" v-if="dropDownCity">
              <template v-for="city in cities">
                <a href="#" :key="city.id">{{city.name}}</a>
              </template>
            </div>
          </div>
          <div class="col-md-5 padding0">
            <div class="search-box">
              <input type="text" :placeholder="searchText">
              <button>
                <svg version="1.2" preserveAspectRatio="none" viewBox="0 0 30.239 30.239" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 23px; height: 23px;">
                  <g>
                    <path d="M20.194,3.46c-4.613-4.613-12.121-4.613-16.734,0c-4.612,4.614-4.612,12.121,0,16.735   c4.108,4.107,10.506,4.547,15.116,1.34c0.097,0.459,0.319,0.897,0.676,1.254l6.718,6.718c0.979,0.977,2.561,0.977,3.535,0   c0.978-0.978,0.978-2.56,0-3.535l-6.718-6.72c-0.355-0.354-0.794-0.577-1.253-0.674C24.743,13.967,24.303,7.57,20.194,3.46z    M18.073,18.074c-3.444,3.444-9.049,3.444-12.492,0c-3.442-3.444-3.442-9.048,0-12.492c3.443-3.443,9.048-3.443,12.492,0   C21.517,9.026,21.517,14.63,18.073,18.074z" fill="#FFFFFF" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                  </g>
                </svg>
              </button>
            </div>
          </div>
          <div class="col-md-2 padding0">
            <label class="dropdown" @click="dropDownProfile = !dropDownProfile">
              <svg version="1.2" viewBox="0 0 24 24" style="width: 20px; height: 20px;"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" style="fill: rgb(0, 0, 0);"></path></g></svg>
              {{User.name}}
            </label>
            <div class="dropdownmenu" v-if="dropDownProfile" style="width:205px;">
              <li><a href="">Профиль</a></li>
              <li><a href="">Сменить пользователя</a></li>
              <li><a href="">Сообщить о проблеме</a></li>
            </div>
            <div class="avatar" :style="'background-image: url('+serverUrl+User.avatar+');'">
            </div>
          </div>
        </div>
        <div class="col-md-3 order-form" v-if="more">
          <a class="close" @click="more = false">
            <svg version="1.2" viewBox="0 0 24 24" style="opacity: 1; mix-blend-mode: normal; fill: rgb(0, 0, 0); width: 20px; height: 20px;"><g><path xmlns:default="http://www.w3.org/2000/svg" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" style="fill: rgb(0, 0, 0);"></path></g></svg>
          </a>
          <div class="title">
            <h5>Заказ</h5>
            <hr>
          </div>
          <div class="form">
            <div class="input-group">
              <input type="text" class="form-control has-value" value="Володя" />
              <label>Имя</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 22px; height: 22px;">
                  <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
                  c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
                  c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
                  v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
                  c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
                  C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
                  l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
                  C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
                  C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
                  C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
                  c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
                  C49.513,45.874,51,48.28,51,50.957V54z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                </svg>
              </span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control has-value" value="ул. Мынбаева 28" />
              <label>Адресс</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                  <path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
                  s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
                  c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
                  c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                </svg>
              </span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control has-value" value="12.12.18 в 16:00" />
              <label>Время Подачи</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
                  <g>
                    <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
                      S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M30,6c-0.552,0-1,0.447-1,1v23H14c-0.552,0-1,0.447-1,1s0.448,1,1,1h16c0.552,0,1-0.447,1-1V7C31,6.447,30.552,6,30,6z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                  </g>
                </svg>
              </span>
            </div>
            <div class="input-group">
              <select class="form-control has-value">
                <option value=""></option>
                <option value="nds" selected>с НДС</option>
                <option value="beznds">без НДС</option>
              </select>
              <label>Комиссия</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
                  <g>
                    <path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
                      C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
                      C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
                      C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
                      c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
                      c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
                      c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
                      C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
                      s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    <path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
                      C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
                      c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
                      c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
                      C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
                      C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
                      C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
                      C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                  </g>
                </svg>
              </span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control has-value" value="Вывезти мусор с обьекта" />
              <label>Комментарий</label>
            </div>
            <div class="input-group">
              <input type="text" class="form-control has-value" value="Час" />
              <label>1 расходный</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                  <g>
                    <g>
                      <g>
                        <path d="M85.333,341.333c-11.76,0-21.333,9.573-21.333,21.333S73.573,384,85.333,384c11.76,0,21.333-9.573,21.333-21.333
                          S97.094,341.333,85.333,341.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M192,64c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333s21.333-9.573,21.333-21.333
                          C213.333,73.573,203.76,64,192,64z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M426.667,106.667c-47.052,0-85.333,38.281-85.333,85.333c0,31.796,36.642,88.85,59.561,121.451
                          c-1.374,1.042-2.591,2.301-3.353,3.977c-2.313,5.073-0.313,11.01,4.448,13.698c-4.656,2.865-6.438,8.865-3.948,13.854
                          c1.875,3.74,5.635,5.896,9.552,5.896c1.604,0,3.229-0.365,4.76-1.125l19.033-9.517l0.005-0.001l0.046-0.023
                          c0.061-0.031,0.085-0.103,0.146-0.135c1.358-0.71,2.594-1.667,3.552-2.917C443,326.885,512,235.594,512,192
                          C512,144.948,473.719,106.667,426.667,106.667z M426.667,312.813c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64
                          s64,28.708,64,64C490.667,219.156,450.115,280.552,426.667,312.813z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M426.667,170.667c-11.76,0-21.333,9.573-21.333,21.333s9.573,21.333,21.333,21.333S448,203.76,448,192
                          S438.427,170.667,426.667,170.667z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M111.383,483.719c22.936-32.664,59.284-89.383,59.284-121.052c0-47.052-38.281-85.333-85.333-85.333
                          C38.281,277.333,0,315.615,0,362.667c0,43.594,69,134.885,76.865,145.156c0.568,0.741,1.384,1.172,2.107,1.73
                          c0.435,0.335,0.758,0.75,1.234,1.013c1.565,0.871,3.286,1.434,5.128,1.434l0.005-0.001L85.344,512
                          c0.245,0,0.48-0.155,0.725-0.172c1.398-0.102,2.78-0.336,4.01-0.947c0.008-0.004,0.017-0.003,0.025-0.007l19.083-9.542
                          c5.271-2.635,7.406-9.042,4.771-14.313C113.307,485.716,112.419,484.613,111.383,483.719z M85.333,483.479
                          c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64c35.292,0,64,28.708,64,64
                          C149.333,389.823,108.781,451.219,85.333,483.479z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M369.135,347.5l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                          c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                          C380.813,347.01,374.396,344.896,369.135,347.5z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M167.021,448.563l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                          c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                          C178.688,448.063,172.281,445.958,167.021,448.563z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M301.76,381.188l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                          c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                          C313.427,380.688,307.031,378.563,301.76,381.188z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M234.385,414.875l-33.677,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                          c1.604,0,3.229-0.365,4.76-1.125l33.677-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                          C246.052,414.375,239.635,412.26,234.385,414.875z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M240.885,246.219c-2.438,5.365-0.073,11.688,5.292,14.125l39.156,17.802c1.438,0.656,2.938,0.958,4.406,0.958
                          c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.156-17.802
                          C249.615,238.458,243.302,240.875,240.885,246.219z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M368.073,314.708c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.167-17.802
                          c-5.427-2.458-11.698-0.052-14.125,5.292c-2.438,5.365-0.073,11.688,5.292,14.125l39.167,17.802
                          C365.104,314.406,366.604,314.708,368.073,314.708z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        <path d="M211.406,243.49c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.063-11.688-5.292-14.125l-7.367-3.348
                          c20.206-27.582,68.867-97.78,68.867-134.434C277.333,38.281,239.052,0,192,0s-85.333,38.281-85.333,85.333
                          c0,43.594,69,134.885,76.865,145.156c0.092,0.121,0.246,0.167,0.344,0.283c0.708,0.854,1.612,1.516,2.59,2.128
                          c0.345,0.215,0.607,0.53,0.974,0.704c0.056,0.026,0.089,0.078,0.145,0.104L207,242.531
                          C208.438,243.188,209.938,243.49,211.406,243.49z M128,85.333c0-35.292,28.708-64,64-64s64,28.708,64,64
                          c0,27.156-40.552,88.552-64,120.813C168.552,173.885,128,112.49,128,85.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
            </div>
            <div class="input-group">
              <input type="text" class="form-control has-value" value="0" />
              <label>Цена</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                  <g>
                    <g>
                      <path d="M85.072,454.931c-1.859-1.861-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93c-1.86,1.861-2.93,4.44-2.93,7.07
                        s1.069,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931s5.21-1.07,7.069-2.931c1.86-1.859,2.931-4.439,2.931-7.069
                        S86.933,456.791,85.072,454.931z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M469.524,182.938c-1.86-1.861-4.43-2.93-7.07-2.93c-2.63,0-5.21,1.069-7.07,2.93c-1.859,1.86-2.93,4.44-2.93,7.07
                        s1.07,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931c2.64,0,5.21-1.07,7.07-2.931c1.869-1.859,2.939-4.439,2.939-7.069
                        S471.393,184.798,469.524,182.938z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M509.065,2.929C507.189,1.054,504.645,0,501.992,0L255.998,0.013c-5.522,0-9.999,4.478-9.999,10V38.61l-94.789,25.399
                        c-5.335,1.43-8.501,6.913-7.071,12.247l49.127,183.342l-42.499,42.499c-5.409-7.898-14.491-13.092-24.764-13.092H30.006
                        c-16.542,0-29.999,13.458-29.999,29.999v162.996C0.007,498.542,13.464,512,30.006,512h95.998c14.053,0,25.875-9.716,29.115-22.78
                        l11.89,10.369c9.179,8.004,20.939,12.412,33.118,12.412h301.867c5.522,0,10-4.478,10-10V10
                        C511.992,7.348,510.94,4.804,509.065,2.929z M136.002,482.001c0,5.513-4.486,10-10,10H30.005c-5.514,0-10-4.486-10-10V319.005
                        c0-5.514,4.486-10,10-10h37.999V424.2c0,5.522,4.478,10,10,10s10-4.478,10-10V309.005h37.999c5.514,0,10,4.486,10,10V482.001z
                         M166.045,80.739l79.954-21.424V96.37l-6.702,1.796c-2.563,0.687-4.746,2.362-6.072,4.659s-1.686,5.026-0.999,7.588
                        c3.843,14.341-4.698,29.134-19.039,32.977c-2.565,0.688-4.752,2.366-6.077,4.668c-1.325,2.301-1.682,5.035-0.989,7.599
                        l38.979,144.338h-20.07l-10.343-40.464c-0.329-1.288-0.905-2.475-1.676-3.507L166.045,80.739z M245.999,142.229v84.381
                        l-18.239-67.535C235.379,155.141,241.614,149.255,245.999,142.229z M389.663,492H200.125V492c-7.345,0-14.438-2.658-19.974-7.485
                        l-24.149-21.061V325.147l43.658-43.658l7.918,30.98c1.132,4.427,5.119,7.523,9.688,7.523l196.604,0.012c7.72,0,14,6.28,14,14
                        c0,7.72-6.28,14-14,14H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h132.04c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14
                        H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h110.643c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14H313.13
                        c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h76.533c7.72,0,14,6.28,14,14C403.662,485.72,397.382,492,389.663,492z
                         M491.994,492h-0.001h-71.359c1.939-4.273,3.028-9.01,3.028-14s-1.089-9.727-3.028-14h3.139c18.747,0,33.999-15.252,33.999-33.999
                        c0-5.468-1.305-10.635-3.609-15.217c14.396-3.954,25.005-17.149,25.005-32.782c0-7.584-2.498-14.595-6.711-20.255V235.007
                        c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10v113.792c-2.35-0.515-4.787-0.795-7.289-0.795h-0.328
                        c1.939-4.273,3.028-9.01,3.028-14c0-18.748-15.252-33.999-33.999-33.999h-16.075c17.069-7.32,29.057-24.286,29.057-44.005
                        c0-26.389-21.468-47.858-47.857-47.858c-26.388,0-47.857,21.469-47.857,47.858c0,19.719,11.989,36.685,29.057,44.005h-54.663
                        V109.863c17.864-3.893,31.96-17.988,35.852-35.853h75.221c3.892,17.865,17.988,31.96,35.852,35.853v31.09c0,5.522,4.478,10,10,10
                        s10-4.478,10-10v-40.018c0-5.522-4.478-10-10-10c-14.847,0-26.924-12.079-26.924-26.925c0-5.522-4.478-10-10-10h-93.076
                        c-5.522,0-10,4.478-10,10c0,14.847-12.078,26.925-26.924,26.925c-5.522,0-10,4.478-10,10v199.069H266V20.011L491.994,20V492z
                         M378.996,283.858c-15.361,0-27.857-12.497-27.857-27.857s12.497-27.858,27.857-27.858S406.853,240.64,406.853,256
                        S394.357,283.858,378.996,283.858z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                    </g>
                  </g>
                </svg>
              </span>
            </div>
          </div>
          <div class="input-box">
            <button class="dbutton" @click="second = false,third = false,fourth = false">Отменить</button>
            <button class="dbutton" @click="third = true">Принять</button>
          </div>
        </div>
        <template v-if="type === 'material'">
          <div class="col-md-3" :class="{big: big}">
            <span @click="big = !big" class="title">Ваша <p>Корзина</p></span>
            <span class="dropdown" @click="big = !big" v-if="!big"></span>
            <strong @click="big = !big">{{orders.length}}</strong>
            <span class="bighr" v-if="big" @click="big = !big"></span>
            <div class="orders" v-if="big">
              <template v-for="(order,index) in orders">
                <div :key="index" class="div-order order-hover">
                  <div class="order-img" :style="'background: url('+order.image+')'">
                  </div>
                  <div class="order-info">
                    <h6>{{order.name}}</h6>
                    <span>{{order.company_name}}</span>
                    <span>Цена: {{order.price}} тг/метр </span>
                    <span>Количество: {{order.count}}</span>
                    <!--<span>Цена: __тг. за __</span>-->
                  </div>
                  <div class="cancel-block" @click="deleteMaterial(order.id)">
                    <a>Отменить</a>
                  </div>
                </div>
              </template>
              <div class="w-100 d-flex justify-content-center pb-2" v-if="orders.length > 0">
                <a href="" style="color:#000; font-weight: bold;">Оплатить ({{amount}} тг)</a>
              </div>
            </div>
          </div>
        </template>
        <template v-else-if="type === 'vehicles'">
          <div class="col-md-3" :class="{big: big}">
            <span @click="big = !big" class="title">Ваши <p>Заказы</p></span>
            <span class="dropdown" @click="big = !big" v-if="!big"></span>
            <strong @click="big = !big">{{orders.length}}</strong>
            <span class="bighr" v-if="big" @click="big = !big"></span>
            <div class="orders" v-if="big">
              <template v-for="(order,index) in orders">
                <div :key="index" class="div-order" @click="more = !more">
                  <div class="order-img" :style="'background: url('+serverUrl+order.images[0]+')'">
                  </div>
                  <div class="order-info">
                    <h6>{{order.transport_name}}</h6>
                    <span>Статус: Ожидает</span>
                    <!--<span>Цена: __тг. за __</span>-->
                    <span>Цена: {{order.price}} тг. {{order.compute_name !== null ? order.compute_name : ''}}</span>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </template>
        <template v-else-if="type === 'parts'">
          <div class="col-md-3" :class="{big: big}">
            <span @click="big = !big" class="title">Ваша <p>Корзина</p></span>
            <span class="dropdown" @click="big = !big" v-if="!big"></span>
            <strong @click="big = !big">{{orders.length}}</strong>
            <span class="bighr" v-if="big" @click="big = !big"></span>
            <div class="orders" v-if="big">
              <template v-for="(order,index) in orders">
                <div :key="index" class="div-order order-hover">
                  <div class="order-img" :style="'background: url('+order.image+')'">
                  </div>
                  <div class="order-info">
                    <h6>{{order.name}}</h6>
                    <span>{{order.company_name}}</span>
                    <span>Цена: {{order.price}} тг/метр </span>
                    <span>Количество: {{order.count}}</span>
                    <!--<span>Цена: __тг. за __</span>-->
                  </div>
                  <div class="cancel-block" @click="deleteMaterial(order.id)">
                    <a>Отменить</a>
                  </div>
                </div>
              </template>
              <div class="w-100 d-flex justify-content-center pb-2" v-if="orders.length > 0">
                <a href="" style="color:#000; font-weight: bold;">Оплатить ({{amount}} тг)</a>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </header>
</template>
<script>
import config from '@/constants'
export default {
  name: 'Header',
  props: {
    type: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      searchText: '',
      amount: null,
      order: true,
      driver: false,
      profile: false,
      big: false,
      more: false,
      User: this.$store.getters.userInfo,
      serverUrl: config.serverUrl,
      dropDownCity: false,
      dropDownProfile: false,
      cities: this.$store.getters.getCities,
      orders: []
    }
  },
  methods: {
    show (e) {
      console.log(e)
    },
    getOrders () {
      this.$store.dispatch('techOrders', {
        channel: 'tech_order_9',
        body: {
          client_id: this.$store.getters.userInfo.id
        }
      })
        .then(response => {
          this.orders = response.data
        })
    },
    getBasket () {
      this.$store.dispatch('generalRequest', {
        url: 'material/basket/list',
        method: 'POST',
        headers: {
          auth: this.$store.getters.userToken
        }
      })
        .then(response => {
          this.amount = response.result.amount
          this.orders = response.result.products
        })
    },
    setDriver () {
      this.User.is_driver = true
    },
    setClient () {
      this.User.is_driver = false
    },
    logout () {
      this.$store.dispatch('logout')
      location.reload()
    },
    deleteMaterial (id) {
      this.$store.dispatch('generalRequest', {
        headers: {
          auth: this.$store.getters.userToken
        },
        data: {
          company_material_id: id
        },
        method: 'POST',
        url: 'material/basket/delete'
      })
        .then(response => {
          if (response.statusCode === 200) {
            this.getBasket()
            this.$parent.getCompany(this.$route.params.id)
          }
        })
        .catch(function () {
          this.orders = []
        })
    }
  },
  mounted () {
    if (this.type === 'material') {
      this.searchText = 'Поиск строиматериалов'
      this.getBasket()
    } else if (this.type === 'vehicles') {
      this.searchText = 'Поиск техники'
      this.getOrders()
    } else if (this.type === 'parts') {
      this.searchText = 'Поиск запчасти'
      this.getOrders()
    } else {
      console.log('success')
    }
    if (this.cities.length === 0) {
      this.$store.dispatch('listCities')
    }
  }
}
</script>
