<template>
  <section class="leftside" id="leftside">
    <div class="leftbar">
      <template v-for="(cat,index) in cats">
        <a :key="index" class="link-tech" :class="cat.id" :href="'#' + cat.id" @click="toggle(cat.id)">
          <span class="w-100 d-flex justify-content-center">
            <img :src="serverUrl+cat.icon" :alt="cat.name" :title="cat.name" style="width:auto; display:block;" :style="{'height': height + 'px'}">
          </span>
          {{cat.name}}
        </a>
      </template>
    </div>
  </section>
</template>

<script>
import config from '../../constants'
export default {
  name: 'LeftBar',
  props: {
    cats: {
      type: Array,
      required: true
    },
    height: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      serverUrl: config.serverUrl
    }
  },
  mounted () {
    // this.leftHeight = window.document.body.clientHeight - 157 - 87
    // document.getElementsByClassName('leftside').style.height = height + 'px'
    // height = $("body").height() - $("header").height() - $("footer").height()
    // $(".leftside").css("height", height)
    // let bottomHeight = window.document.body.clientHeight - 314 - 87
    // console.log(window.document.body.clientHeight, bottomHeight)
    window.document.body.onscroll = function () {
      if (window.scrollY > 87) {
        document.getElementById('leftside').style.paddingTop = '0px'
      } else {
        document.getElementById('leftside').style.paddingTop = '87px'
      }
    }
  }
}
</script>

<style scoped>

</style>
