<template>
  <GmapMap
    ref="map"
    :center="{lat:clientPosition.lat, lng:clientPosition.lng}"
    :zoom="zoom"
    :options="mapOptions"
    style="position: fixed !important; width: 100vw;height: 100vh;top: 0;left: 0;z-index: 1;"
  >
    <GmapMarker
      v-if="clientMarker"
      :position="{lat:clientPosition.lat, lng:clientPosition.lng}"
      :icon="userIconOptions"
      :draggable="true"
      @dragend="updateCoordinates"
    >
    </GmapMarker>
    <template v-for="(m, index) in markers">
      <GmapMarker
        :key="index"
        :position="{lat:m.lat,lng:m.lng}"
        :clickable="true"
        :icon="getMarkerIcon(m.marker_icon)"
        @click="showInfoWindow(m)"
      >
      </GmapMarker>
    </template>
    <gmap-info-window
      v-if="selectedMarker.visible"
      :position="selectedMarker.position"
      @closeclick="selectedMarker.visible = false"
    >
      <div class="marker-info">
        <div class="header row-flex">
          <div class="user-avatar background" :style="{'background': 'url('+serverUrl+currentMarker.avatar+')'}">
          </div>
          <div class="user-info column-start-flex">
            <h6>{{currentMarker.name}}</h6>
            <span>Доступен</span>
          </div>
        </div>
        <div class="order row-flex">
          <div class="order-avatar background" :style="{'background': 'url('+serverUrl+currentMarker.images[0]+')'}">
          </div>
          <div class="order-info column-start-flex">
            <h6>{{currentMarker.transport_name}}</h6>
            <span>Описание: {{ currentMarker.info }}</span>
          </div>
        </div>
        <div class="form">
          <div class="input-group">
            <input type="text" class="form-control" v-model="User.name" :class="{'has-value' : User.name, focused: User.name}">
            <label>Укажите ваше Имя</label>
            <span class="form-span">
              <svg version="1.2" viewBox="0 0 60 60" style="width: 20px; height: 20px; ">
                <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
                c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
                c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
                v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
                c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
                C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164
                l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22
                C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021
                C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298
                C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713
                c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776
                C49.513,45.874,51,48.28,51,50.957V54z" vector-effect="non-scaling-stroke"></path>
              </svg>
            </span>
          </div>
          <div class="input-group">
            <the-mask mask="8 (###) ### ## ##" class="form-control" v-model="User.phone" :class="{'has-value' : User.phone, focused: User.phone}"></the-mask>
            <!--<input type="text" class="form-control" v-model="User.phone" :class="{'has-value' : User.phone, focused: User.phone}">-->
            <label>Ваш номер телефона</label>
            <span class="form-span">
              <svg viewBox="0 0 348.077 348.077" style="width: 20px; height: 20px;">
                <path d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076
                c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257
                c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194
                C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02
                C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876
                c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029
                C350.631,303.527,350.95,285.795,340.273,275.083z" vector-effect="non-scaling-stroke">
                </path>
              </svg>
            </span>
          </div>
        </div>
        <div class="input-box">
          <button class="dbutton" @click="order()"><b>Заказать</b></button>
        </div>
      </div>
    </gmap-info-window>
  </GmapMap>
</template>

<script>
import { TheMask } from 'vue-the-mask'
import config from '@/constants'
export default {
  name: 'Map',
  components: {
    'the-mask': TheMask
  },
  props: {
    markers: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      selectedMarker: {
        visible: false,
        position: {
          lat: 0,
          lng: 0
        }
      },
      currentMarker: {},
      zoom: 13,
      mapOptions: config.mapOptions,
      serverUrl: config.serverUrl,
      clientMarker: false,
      clientPosition: {
        lat: 43.238949,
        lng: 76.889709
      },
      User: this.$store.getters.userInfo,
      userIconOptions: {
        url: 'https://image.ibb.co/b647ZU/resize-Api.png',
        scaledSize: {
          width: 32,
          height: 32
        },
        anchor: {
          x: 16,
          y: 16
        }
      }
    }
  },
  methods: {
    order () {
      this.$parent.makeOrder(this.currentMarker)
    },
    socketGeo () {
      const self = this
      setInterval(function () {
        self.$store.dispatch('SOCKET_GEO', {
          lat: self.clientPosition.lat,
          lng: self.clientPosition.lng,
          token: self.$store.getters.userToken
        })
      }, 30000)
    },
    userGeolocation () {
      navigator.geolocation.getCurrentPosition((position) => {
        this.clientPosition = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
        this.clientMarker = true
        this.zoom = 18
        this.$store.dispatch('setUserPosition', {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        })
        this.socketGeo()
        this.$refs.map.$mapPromise.then(() => {
          this.$store.dispatch('gMapsLoaded')
        })
      })
    },
    getMarkerIcon (icon) {
      return {
        url: config.serverUrl + icon,
        scaledSize: {
          width: 36,
          height: 50
        },
        anchor: {
          x: 18,
          y: 25
        }
      }
    },
    showInfoWindow (m) {
      this.currentMarker = m
      this.selectedMarker.position.lat = m.lat
      this.selectedMarker.position.lng = m.lng
      this.selectedMarker.visible = true
    },
    updateCoordinates (location) {
      this.$store.dispatch('setUserPosition', {
        lat: location.latLng.lat(),
        lng: location.latLng.lng()
      })
    }
  },
  mounted () {
    this.userGeolocation()
  }
}
</script>

<style scoped>

</style>
