<template>
  <div>
    <sear-big-header :type="'vehicles'"></sear-big-header>
    <section class="home-tech margin0 section-vehicle">
      <div class="container-fluid padding0">
        <div class="container padding0">
          <div class="row col-md-11 padding0">
          <span class="tree">
            <router-link :to="{name: 'ListVehicle'}">&lt; Главная</router-link> / <a>{{$route.query.subCat}}</a>
          </span>
            <div class="divhr"></div>
            <h2 id="1">{{$route.query.cat}}</h2>
            <div class="divhr"></div>
            <router-link :to="{name: 'Vehicles'}" class="view-map">
              <span>
                <svg version="1.2" viewBox="0 0 423.221 423.221">
                  <g>
                    <path d="M352.346,231.706l7.955-0.378c2.06-0.099,3.976-0.979,5.394-2.48l8.351-8.842c2.28-2.414,2.815-6.032,1.329-9.003
                      l-5.843-11.564l12.973-7.983c1.674-1.03,2.901-2.637,3.456-4.521l5.253-17.86c1.133-3.855-0.797-7.955-4.49-9.538l-7.879-3.326
                      l1.049-6.1l9.008-3.793c2.151-0.904,3.788-2.7,4.491-4.927l1.269-4.014l10.367,12.253c1.516,1.791,3.712,2.818,6.026,2.818
                      c4.398,0,7.976-3.565,7.976-7.948l-0.001-13.994l-0.322-15.146c-0.214-10.079-8.578-18.279-18.645-18.279
                      c-0.747,0-1.504,0.045-2.25,0.135l-77.435,9.292l0.531-1.442c0.876-2.378,0.558-5.056-0.852-7.161
                      c-1.409-2.106-3.763-3.422-6.294-3.519l-9.848-0.379c-2.599-0.09-5.105,1.101-6.658,3.17l-24.181,32.253l-21.325,10.69
                      l-17.579-9.057c-1.12-0.576-2.376-0.881-3.634-0.881c-2.187,0-4.3,0.915-5.794,2.51l-16.302,17.388
                      c-2.068,2.206-2.704,5.34-1.658,8.177l2.943,7.884l-10.435,9.887l-9.946,5.759c-2.84,1.645-4.361,4.805-3.873,8.051l0.831,5.539
                      c0.578,3.856,3.955,6.766,7.854,6.765c1.125,0,2.221-0.236,3.257-0.702l8.502-3.827l10.604-4.494l10.86,7.602
                      c0.921,0.646,1.948,1.081,3.047,1.292l16.603,3.165v4.104l-34.356-5.153c-1.383-0.212-2.799-0.047-4.097,0.466l-22.403,8.843
                      c-2.456,0.97-4.263,3.087-4.835,5.664l-4.38,19.712c-0.621,2.791,0.314,5.713,2.439,7.624l10.325,9.294
                      c1.665,1.498,3.893,2.222,6.122,1.996l19.936-2.109l0.574,29.839c0.014,0.731,0.129,1.455,0.34,2.151l3.636,12
                      c2.232,7.368,8.905,12.318,16.604,12.318c6.49,0,12.385-3.575,15.385-9.33l27.542-52.836c1.64-3.145,0.978-7.037-1.61-9.464
                      l-3.589-3.364l5.584-1.861c2.629-0.877,4.58-3.012,5.216-5.709c0.637-2.697-0.153-5.479-2.113-7.438l-8.196-8.117l0.544-0.688
                      l17.154,11.061l13.818,19.96c1.483,2.143,3.921,3.421,6.523,3.421c2.989,0,5.696-1.649,7.064-4.304l6.159-12.105l13.825,9.823
                      c1.362,0.968,2.948,1.48,4.585,1.48c2.357-0.001,4.585-1.043,6.114-2.861c1.498-1.781,2.126-4.133,1.723-6.452L352.346,231.706z
                       M245.226,298.895c-1.617,3.102-4.794,5.028-8.292,5.028c-4.149,0-7.745-2.668-8.948-6.639l-3.633-11.983l-0.574-29.84
                      c-0.042-2.214-1.017-4.325-2.675-5.793c-1.657-1.468-3.87-2.173-6.074-1.954l-19.956,2.067l-10.306-9.235l4.344-19.671
                      l22.372-8.839l37.33,5.6l14.892,19.379c0.341,0.455,9.062,9.044,9.062,9.044L245.226,298.895z M346.147,226.682
                      c-1.423,1.776-2.016,4.082-1.626,6.325l0.235,1.358l-13.705-9.738c-1.352-0.96-2.94-1.468-4.593-1.468
                      c-2.99,0-5.697,1.649-7.064,4.305l-6.182,12.064l-13.78-19.905c-0.596-0.86-1.344-1.584-2.225-2.152l-17.17-11.078
                      c-1.286-0.83-2.774-1.269-4.304-1.269c-2.267,0-4.43,0.972-5.936,2.665l-0.622,0.699c-2.789,3.138-2.648,7.921,0.32,10.89
                      l8.13,8.131l-9.099,3.075l-13.497-17.975v-7.436c0-3.795-2.704-7.073-6.431-7.796l-16.629-3.214l-10.862-7.603
                      c-2.212-1.549-5.144-1.863-7.636-0.814l-10.75,4.528l-8.507,3.911l-0.86-5.479l9.938-5.755c0.535-0.308,1.035-0.681,1.49-1.111
                      l10.445-9.895c2.309-2.186,3.09-5.527,1.991-8.511l-2.941-7.887l16.231-17.376l17.579,9.057c1.119,0.576,2.376,0.881,3.635,0.881
                      c1.226,0,2.453-0.29,3.551-0.838l21.385-10.692c1.095-0.55,2.061-1.356,2.796-2.335L303.607,102l9.794,0.3l-0.565,1.533
                      c-0.897,2.435-0.548,5.157,0.934,7.283c1.668,2.391,4.475,3.705,7.462,3.346l77.533-9.304c0.431-0.052,0.868-0.078,1.297-0.078
                      c5.748,0,10.524,4.688,10.647,10.449l0.321,15.062l-0.002,13.745l-10.33-12.209c-1.512-1.788-3.716-2.814-6.046-2.814
                      c-3.49,0-6.539,2.23-7.587,5.551l-1.267,4.08l-9.009,3.793c-2.497,1.052-4.268,3.271-4.738,5.938l-1.085,6.144
                      c-0.644,3.648,1.285,7.217,4.692,8.679l7.88,3.319l-5.228,17.826l-12.972,7.983c-3.531,2.172-4.794,6.606-2.94,10.313l5.831,11.574
                      l-8.311,8.824l-7.955,0.378C349.691,223.824,347.571,224.906,346.147,226.682z" vector-effect="non-scaling-stroke"></path>
                    <path d="M422.31,296.3l-9.319-17.706c-1.377-2.616-4.071-4.241-7.03-4.241c-2.629,0-5.073,1.293-6.558,3.468l-2.432-3.04
                      c-1.515-1.894-3.775-2.979-6.202-2.979c-1.437,0-2.849,0.391-4.083,1.132l-22.045,13.227c-2.104,1.261-3.526,3.47-3.805,5.907
                      l-1.877,16.424c-0.256,2.246,0.459,4.5,1.962,6.185c1.726,1.935,4.28,2.921,6.912,2.594l18.67-2.377l2.958,7.025
                      c1.242,2.952,4.114,4.859,7.316,4.859c0,0,0,0,0.001,0c0.455,0,0.913-0.04,1.362-0.118l10.25-1.782
                      c2.514-0.435,4.678-2.068,5.79-4.365l8.253-17.056C423.524,301.198,423.479,298.522,422.31,296.3z M407.02,316.996l-10.205,1.774
                      l-2.939-6.982c-1.243-2.951-4.115-4.858-7.317-4.858c-0.326,0-0.656,0.02-0.986,0.062l-18.665,2.407l1.849-16.379l21.969-13.242
                      l2.483,3.104c1.515,1.894,3.774,2.979,6.198,2.979c2.627,0,5.065-1.286,6.553-3.453l9.272,17.564L407.02,316.996z" vector-effect="non-scaling-stroke"></path>
                    <path d="M153.469,265.01l-37.698-24.424c-2.067-1.339-4.459-2.047-6.916-2.047c-3.966,0-7.648,1.844-10.051,4.947l-8.455-4.733
                      l-15.1-21.496h7.702c1.836,0,3.627-0.642,5.043-1.807l28.637-23.547l15.938-9.032c1.94-1.1,3.336-2.977,3.829-5.151
                      c0.494-2.175,0.045-4.471-1.231-6.301l-14.111-20.227c-1.531-2.193-4.057-3.468-6.713-3.395c-2.673,0.067-5.115,1.462-6.532,3.729
                      l-7.273,11.782l-8.339-9.378l16.573-12.187c3.068-2.257,4.102-6.388,2.459-9.822l-4.086-8.545
                      c-0.953-1.992-2.709-3.509-4.818-4.161c-2.11-0.653-4.415-0.391-6.323,0.715l-7.224,4.21l-32.646-13.813L32.686,97.102
                      c-2.844-1.604-6.443-1.283-8.957,0.795L11.31,108.156c-1.091,0.901-1.923,2.08-2.405,3.408l-8.429,23.181
                      c-0.871,2.393-0.534,5.079,0.9,7.185c1.435,2.105,3.811,3.4,6.358,3.467l17.89,0.422l11.355,28.074l-1.854,27.803
                      c-0.112,1.684,0.327,3.394,1.238,4.814l15.267,23.815c0.919,1.435,2.248,2.517,3.845,3.131l29.367,11.24
                      c0.266,0.254,0.562,0.465,0.876,0.633l8.586,4.807l-4.611,6.916c-1.646,2.469-1.782,5.619-0.355,8.222l9.663,17.604l-1.26,42.85
                      c-0.054,1.834,0.534,3.643,1.658,5.096l7.795,10.067c1.52,1.963,3.793,3.089,6.239,3.089c2.157,0,4.255-0.882,5.756-2.419
                      c1.485-1.521,2.274-3.552,2.222-5.719l-0.358-14.23l29.281-28.035c1.052-1.008,1.806-2.283,2.18-3.689l4.311-16.166
                      C157.713,270.388,156.365,266.888,153.469,265.01z M58.366,226.008l-15.258-23.78l1.854-27.803c0.079-1.189-0.115-2.4-0.561-3.504
                      l-11.36-28.102c-1.187-2.933-3.997-4.88-7.158-4.961L8.022,137.4l8.382-23.076l12.352-10.253l23.448,13.227
                      c0.265,0.149,0.538,0.283,0.807,0.396l32.653,13.815c2.281,0.964,4.924,0.798,7.07-0.441l7.194-4.239l4.105,8.471l-16.574,12.186
                      c-1.79,1.316-2.953,3.337-3.191,5.545s0.467,4.431,1.934,6.098l8.33,9.466c1.674,1.902,4.082,2.879,6.607,2.668
                      c2.525-0.206,4.744-1.557,6.087-3.705l7.321-11.713l14.079,20.065l-15.932,9.029c-0.394,0.222-0.773,0.482-1.134,0.777
                      l-28.608,23.54c0,0-8.894,0.001-8.941,0.002c-2.709,0.042-5.164,1.583-6.407,4.021c-1.277,2.505-1.072,5.482,0.536,7.771
                      l8.353,11.891L58.366,226.008z M144.799,287.798l-29.28,28.034c-1.608,1.54-2.5,3.699-2.447,5.924l0.333,14.091l-7.669-9.884
                      l1.26-42.851c0.041-1.412-0.295-2.813-0.975-4.051l-9.673-17.572l8.563-12.843c0.879-1.32,2.354-2.107,3.944-2.107
                      c0.91,0,1.797,0.263,2.566,0.762l37.673,24.358L144.799,287.798z" vector-effect="non-scaling-stroke"></path>
                    <path d="M136.06,107.943l4.304,3.261v39.436c0,4.382,3.567,7.947,7.951,7.947c1.535,0,3.034-0.45,4.335-1.302l27.258-17.822
                      c1.707-1.116,2.906-2.823,3.378-4.806l9.091-38.182c0.678-2.85-0.261-5.828-2.45-7.773l-8.403-7.47
                      c-2.229-1.982-5.52-2.545-8.282-1.414l-35.365,14.468c-2.666,1.09-4.485,3.446-4.865,6.301
                      C132.632,103.442,133.771,106.192,136.06,107.943z M176.209,87.212l8.384,7.411l-9.065,38.146l-27.165,17.76v-39.324
                      c0-2.458-1.165-4.816-3.117-6.308l-4.244-3.245L176.209,87.212z" vector-effect="non-scaling-stroke"></path>
                  </g>
                </svg>
              </span>
              На карте
            </router-link>
            <div class="col-md-9 list-vehicles">
              <template v-for="(item, index) in vehicles">
                <div :key="index" class="big-vehicle">
                  <div class="bg-vehicle" :style="{'background': 'url(' + serverUrl + item.images[0] + ')'}">
                    <span>{{item.images.length}}</span>
                  </div>
                  <div class="text-vehicle">
                    <div class="title-rating">
                      <h5>{{item.transport_name}}, {{item.mark_name}}</h5>
                      <div>
                        <h6 class="mr-1">Рейтинг</h6>
                        <star-rating
                          :increment="1"
                          :max-rating="5"
                          :showRating="false"
                          :borderColor="'transparent'"
                          :activeColor="'#FAD220'"
                          :inactiveColor="'#D9D9D9'"
                          :read-only="true"
                          :star-size="18">
                          ></star-rating>
                      </div>
                    </div>
                    <h6>Год выпуска: 2011</h6>
                    <h6>Телефон: {{makePhone(item.phone)}}</h6>
                    <p>{{item.info}}</p>
                  </div>
                </div>
              </template>
            </div>
            <div class="col-md-3">
              <div class="special-offers">
                <h5>Горячие предложения</h5>
                <div class="offer">
                  <div class="bg-offer" style="background: url(https://uc.uxpin.com/files/868058/860444/75-227f5c.jpg);">
                  </div>
                  <div class="text-offer">
                    <label>Самосвал Shacman, X3000</label>
                    <label>5000 тенге/час</label>
                    <span>Алматы</span>
                  </div>
                </div>
                <div class="offer">
                  <div class="bg-offer" style="background: url(https://uc.uxpin.com/files/868058/860444/75-227f5c.jpg);">

                  </div>
                  <div class="text-offer">
                    <label>Самосвал Shacman, X3000</label>
                    <label>5000 тенге/час</label>
                    <span>Алматы</span>
                  </div>
                </div>
                <div class="offer">
                  <div class="bg-offer" style="background: url(https://uc.uxpin.com/files/868058/860444/75-227f5c.jpg);">

                  </div>
                  <div class="text-offer">
                    <label>Самосвал Shacman, X3000</label>
                    <label>5000 тенге/час</label>
                    <span>Алматы</span>
                  </div>
                </div>
                <div class="offer">
                  <div class="bg-offer" style="background: url(https://uc.uxpin.com/files/868058/860444/75-227f5c.jpg);">
                  </div>
                  <div class="text-offer">
                    <label>Самосвал Shacman, X3000</label>
                    <label>5000 тенге/час</label>
                    <span>Алматы</span>
                  </div>
                </div>
              </div>
              <div class="special-form">
                <!-- <form action=""> -->
                <div class="form">
                  <div class="title">
                    <h5>Оформить заказ техники:</h5>
                  </div>
                  <div class="special-second">
                    <div class="input-group">
                      <input type="text" class="form-control has-value" value="улица Пушкина" />
                      <label>Адресс</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 51.636 51.636" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                          <path d="M51.353,0.914c-0.295-0.305-0.75-0.39-1.135-0.213L0.583,23.481c-0.399,0.184-0.632,0.605-0.574,1.041
                          s0.393,0.782,0.826,0.854l22.263,3.731l2.545,21.038c0.054,0.438,0.389,0.791,0.824,0.865c0.057,0.01,0.113,0.015,0.169,0.015
                          c0.375,0,0.726-0.211,0.896-0.556l24-48.415C51.72,1.675,51.648,1.218,51.353,0.914z M27.226,46.582l-2.232-18.457
                          c-0.054-0.44-0.391-0.793-0.828-0.866L4.374,23.941L48.485,3.697L27.226,46.582z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                        </svg>
                      </span>
                    </div>
                    <div class="input-group">
                      <select class="form-control has-value">
                        <option value=""></option>
                        <option value="" selected>Грузовой транспорт</option>
                        <option value="">Киллометр</option>
                        <option value="">Рейс</option>
                      </select>
                      <label>Вид техники</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 480 480" style=" width: 24px; height: 24px;">
                          <g>
                            <g>
                              <path d="M477.656,226.344l-16-16c-1.5-1.5-3.534-2.344-5.656-2.344h-24c-4.418,0-8,3.582-8,8v40h-16v-56c0-4.418-3.582-8-8-8
                                h-51.72l-29.6-44.44c-1.489-2.232-3.997-3.568-6.68-3.56h-48v-16h56c4.418,0,8-3.582,8-8V88c0-4.418-3.582-8-8-8H160
                                c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h56v16h-48c-2.674,0-5.172,1.335-6.656,3.56L131.72,192H88c-4.418,0-8,3.582-8,8v48
                                H64v-48c0-4.418-3.582-8-8-8H24c-2.674,0-5.172,1.335-6.656,3.56l-16,24C0.47,220.876,0.003,222.42,0,224v24
                                c0.003,1.58,0.47,3.124,1.344,4.44L16,274.4V344c0,4.418,3.582,8,8,8h32c4.418,0,8-3.582,8-8v-48h16v48c0,4.418,3.582,8,8,8h43.72
                                l29.6,44.44c1.489,2.232,3.997,3.568,6.68,3.56h232c4.418,0,8-3.582,8-8v-72h16v56c0,4.418,3.582,8,8,8h24
                                c2.122,0,4.156-0.844,5.656-2.344l16-16c1.5-1.5,2.344-3.534,2.344-5.656V232C480,229.878,479.156,227.844,477.656,226.344z
                                 M48,256v80H32v-64c-0.003-1.58-0.47-3.124-1.344-4.44L16,245.6v-19.2L28.28,208H48V256z M80,280H64v-16h16V280z M168,112V96h144
                                v16H168z M248,128v16h-16v-16H248z M360,384H172.28l-29.6-44.44c-1.489-2.232-3.997-3.568-6.68-3.56H96V208h40
                                c2.674,0,5.172-1.335,6.656-3.56L172.28,160h135.44l29.6,44.44c1.489,2.232,3.997,3.568,6.68,3.56h16V384z M392,264v120h-16V208
                                h16V264z M424,304h-16v-32h16V304z M464,356.688L452.688,368H440V224h12.688L464,235.312V356.688z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <path d="M309.897,258.593C308.381,256.94,306.242,256,304,256h-38.024l13.832-62.264c0.958-4.313-1.761-8.586-6.074-9.545
                                c-2.55-0.567-5.216,0.147-7.142,1.913l-96,88c-3.256,2.986-3.475,8.047-0.489,11.303C171.619,287.06,173.758,288,176,288h38.024
                                l-13.832,62.264c-0.958,4.313,1.761,8.586,6.074,9.545c2.55,0.567,5.216-0.147,7.142-1.913l96-88
                                C312.664,266.91,312.883,261.849,309.897,258.593z M221.32,328.936l10.488-47.2c0.959-4.313-1.76-8.587-6.073-9.545
                                c-0.57-0.127-1.151-0.191-1.735-0.191h-27.432l62.112-56.936l-10.488,47.2c-0.959,4.313,1.76,8.587,6.073,9.545
                                c0.57,0.127,1.151,0.19,1.735,0.191h27.432L221.32,328.936z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <rect x="112" y="256" width="16" height="64" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                          <g>
                            <g>
                              <rect x="112" y="224" width="16" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="input-group">
                      <select class="form-control has-value">
                        <option value=""></option>
                        <option value="" selected>Самосвал</option>
                        <option value="">Киллометр</option>
                        <option value="">Рейс</option>
                      </select>
                      <label>Вид транспорта</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 496 496" style="width: 20px; height: 20px;">
                          <g>
                            <g>
                              <path d="M464,352h-77.096C451.128,323.256,496,258.792,496,184C496,82.536,413.464,0,312,0c-68.2,0-129.608,36.912-161.84,96.624
                                c-2-0.392-4.048-0.624-6.16-0.624H64c-17.648,0-32,14.352-32,32v67.056l-18.736,9.368C5.088,208.512,0,216.744,0,225.888v140.216
                                c0,9.152,5.088,17.376,13.264,21.472L32,396.944V464c0,17.648,14.352,32,32,32h80h320c17.648,0,32-14.352,32-32v-80
                                C496,366.352,481.648,352,464,352z M32,379.056l-11.576-5.792c-2.728-1.36-4.424-4.096-4.424-7.152V225.888
                                c0-3.056,1.696-5.8,4.424-7.16L32,212.944V379.056z M112,480H96V160H80v36.688l-21.656,21.656l11.312,11.312L80,219.312v90.024
                                L57.6,339.2l12.8,9.6L80,336v85.344L57.6,451.2l12.8,9.6L80,448v32H64c-8.824,0-16-7.176-16-16v-72.008l9.6,12.8l12.8-9.592
                                L48,365.336v-90.024l10.344,10.344l11.312-11.312L48,252.688v-89.376l10.344,10.344l11.312-11.312L48,140.688V128
                                c0-8.824,7.176-16,16-16h16v32h16v-32h16V480z M160,133.336L137.6,163.2l12.8,9.592l9.6-12.8v85.344L137.6,275.2l12.8,9.592
                                l9.6-12.8v93.344L137.6,395.2l12.8,9.592l9.6-12.8V464c0,8.824-7.176,16-16,16h-16v-32.008l9.6,12.8l12.8-9.592L128,421.336
                                v-85.344l9.6,12.8l12.8-9.592L128,309.336v-93.344l9.6,12.8l12.8-9.592L128,189.336V112h16c8.824,0,16,7.176,16,16V133.336z
                                 M197.216,83.496l-24.496,6.56c12.352-18.376,27.984-33.808,45.888-45.784l40.104,10.744l4.144-15.456l-24.576-6.584
                                c19.336-9.408,40.568-15.184,62.792-16.6l29.28,29.28l11.312-11.312L323.92,16.608c22.32,1.576,43.4,7.52,62.488,17l10.648,39.76
                                l15.456-4.144l-6.536-24.408c18.048,12.224,33.576,27.88,45.704,46l-10.688,39.904l15.456,4.144l6.48-24.184
                                c9.336,19.128,15.112,40.24,16.536,62.56l-29.112,29.112l11.312,11.312l17.736-17.736c-1.576,22.32-7.52,43.4-17,62.488
                                l-39.76,10.648l4.144,15.456l24.408-6.536c-12.224,18.048-27.88,33.576-46,45.704L365.288,313l-4.144,15.456l24.184,6.48
                                c-19.128,9.336-40.24,15.112-62.56,16.536l-29.112-29.112l-11.312,11.312l17.832,17.832c-21.824-1.552-43.064-7.384-62.552-17.008
                                l-10.672-39.84l-15.456,4.144l6.544,24.416c-3.44-2.32-6.768-4.824-10.032-7.4v-72.184C228.728,279.64,267.536,304,312,304
                                c35.536,0,69.04-15.616,91.912-42.848l-12.248-10.296C371.832,274.464,342.8,288,312,288c-57.344,0-104-46.656-104-104
                                S254.656,80,312,80s104,46.656,104,104c0,15.6-3.368,30.592-10.008,44.56l14.456,6.872C428.112,219.304,432,202,432,184
                                c0-66.168-53.832-120-120-120s-120,53.832-120,120c0,6.816,0.704,13.448,1.8,19.952l-17.8-8.896V128
                                c0-7.728-2.864-14.728-7.44-20.264l32.8-8.784L197.216,83.496z M237.176,352H208v-16.224
                                C217.224,342.096,227.016,347.48,237.176,352z M187.96,390.968L200.008,400H176v-3.056L187.96,390.968z M176,379.056V212.944
                                l11.576,5.792c2.728,1.36,4.424,4.096,4.424,7.152v140.224c0,3.056-1.696,5.8-4.424,7.16L176,379.056z M480,432H272v16h48.008
                                l-12.8,9.6l9.592,12.8l29.864-22.4h85.344l-12.8,9.6l9.592,12.8l29.864-22.4H480v16c0,8.824-7.176,16-16,16h-61.336L372.8,457.6
                                l-9.6,12.8L376,480h-93.336L252.8,457.6l-9.6,12.8L256,480h-84.448c2.752-4.728,4.448-10.144,4.448-16v-16h24.008l-12.8,9.6
                                l9.592,12.8l29.864-22.4H256v-16h-80v-16h304V432z M480,400h-21.336L428.8,377.6l-9.6,12.8L432,400h-85.336L316.8,377.6l-9.6,12.8
                                L320,400h-93.336l-24.416-18.312c3.248-3.792,5.224-8.552,5.624-13.688h48.136l-12.8,9.6l9.592,12.8l29.864-22.4h93.344l-12.8,9.6
                                l9.592,12.8l29.864-22.4H464c8.824,0,16,7.176,16,16V400z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <path d="M312,128c-30.872,0-56,25.128-56,56s25.128,56,56,56s56-25.128,56-56S342.872,128,312,128z M312,224
                                c-22.056,0-40-17.944-40-40c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40C352,206.056,334.056,224,312,224z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <rect x="304" y="96" width="16" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                          <g>
                            <g>
                              <rect x="227.918" y="151.286" transform="matrix(0.3086 -0.9512 0.9512 0.3086 11.6027 334.5342)" width="16" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                          <g>
                            <g>
                              <rect x="256.966" y="240.727" transform="matrix(0.5878 -0.809 0.809 0.5878 -92.0044 316.8796)" width="15.992" height="16" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                          <g>
                            <g>
                              <rect x="351.017" y="240.674" transform="matrix(0.8088 -0.5881 0.5881 0.8088 -77.5944 258.6838)" width="16" height="15.992" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                          <g>
                            <g>

                                <rect x="380.042" y="151.287" transform="matrix(0.9511 -0.309 0.309 0.9511 -30.2302 127.7088)" width="15.999" height="15.999" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></rect>
                            </g>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="input-group">
                      <select class="form-control has-value">
                        <option value=""></option>
                        <option value="hout" selected>Час</option>
                        <option value="kilo">Киллометр</option>
                        <option value="reis">Рейс</option>
                      </select>
                      <label>1 расходный</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                          <g>
                            <g>
                              <g>
                                <path d="M85.333,341.333c-11.76,0-21.333,9.573-21.333,21.333S73.573,384,85.333,384c11.76,0,21.333-9.573,21.333-21.333
                                  S97.094,341.333,85.333,341.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M192,64c-11.76,0-21.333,9.573-21.333,21.333c0,11.76,9.573,21.333,21.333,21.333s21.333-9.573,21.333-21.333
                                  C213.333,73.573,203.76,64,192,64z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M426.667,106.667c-47.052,0-85.333,38.281-85.333,85.333c0,31.796,36.642,88.85,59.561,121.451
                                  c-1.374,1.042-2.591,2.301-3.353,3.977c-2.313,5.073-0.313,11.01,4.448,13.698c-4.656,2.865-6.438,8.865-3.948,13.854
                                  c1.875,3.74,5.635,5.896,9.552,5.896c1.604,0,3.229-0.365,4.76-1.125l19.033-9.517l0.005-0.001l0.046-0.023
                                  c0.061-0.031,0.085-0.103,0.146-0.135c1.358-0.71,2.594-1.667,3.552-2.917C443,326.885,512,235.594,512,192
                                  C512,144.948,473.719,106.667,426.667,106.667z M426.667,312.813c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64
                                  s64,28.708,64,64C490.667,219.156,450.115,280.552,426.667,312.813z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M426.667,170.667c-11.76,0-21.333,9.573-21.333,21.333s9.573,21.333,21.333,21.333S448,203.76,448,192
                                  S438.427,170.667,426.667,170.667z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M111.383,483.719c22.936-32.664,59.284-89.383,59.284-121.052c0-47.052-38.281-85.333-85.333-85.333
                                  C38.281,277.333,0,315.615,0,362.667c0,43.594,69,134.885,76.865,145.156c0.568,0.741,1.384,1.172,2.107,1.73
                                  c0.435,0.335,0.758,0.75,1.234,1.013c1.565,0.871,3.286,1.434,5.128,1.434l0.005-0.001L85.344,512
                                  c0.245,0,0.48-0.155,0.725-0.172c1.398-0.102,2.78-0.336,4.01-0.947c0.008-0.004,0.017-0.003,0.025-0.007l19.083-9.542
                                  c5.271-2.635,7.406-9.042,4.771-14.313C113.307,485.716,112.419,484.613,111.383,483.719z M85.333,483.479
                                  c-23.448-32.26-64-93.656-64-120.813c0-35.292,28.708-64,64-64c35.292,0,64,28.708,64,64
                                  C149.333,389.823,108.781,451.219,85.333,483.479z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M369.135,347.5l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                                  c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                                  C380.813,347.01,374.396,344.896,369.135,347.5z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M167.021,448.563l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                                  c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                                  C178.688,448.063,172.281,445.958,167.021,448.563z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M301.76,381.188l-33.688,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                                  c1.604,0,3.229-0.365,4.76-1.125l33.688-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                                  C313.427,380.688,307.031,378.563,301.76,381.188z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M234.385,414.875l-33.677,16.844c-5.271,2.635-7.406,9.042-4.771,14.313c1.875,3.74,5.635,5.896,9.552,5.896
                                  c1.604,0,3.229-0.365,4.76-1.125l33.677-16.844c5.271-2.635,7.406-9.042,4.771-14.313
                                  C246.052,414.375,239.635,412.26,234.385,414.875z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M240.885,246.219c-2.438,5.365-0.073,11.688,5.292,14.125l39.156,17.802c1.438,0.656,2.938,0.958,4.406,0.958
                                  c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.156-17.802
                                  C249.615,238.458,243.302,240.875,240.885,246.219z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M368.073,314.708c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.073-11.688-5.292-14.125l-39.167-17.802
                                  c-5.427-2.458-11.698-0.052-14.125,5.292c-2.438,5.365-0.073,11.688,5.292,14.125l39.167,17.802
                                  C365.104,314.406,366.604,314.708,368.073,314.708z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                                <path d="M211.406,243.49c4.063,0,7.938-2.323,9.719-6.25c2.438-5.365,0.063-11.688-5.292-14.125l-7.367-3.348
                                  c20.206-27.582,68.867-97.78,68.867-134.434C277.333,38.281,239.052,0,192,0s-85.333,38.281-85.333,85.333
                                  c0,43.594,69,134.885,76.865,145.156c0.092,0.121,0.246,0.167,0.344,0.283c0.708,0.854,1.612,1.516,2.59,2.128
                                  c0.345,0.215,0.607,0.53,0.974,0.704c0.056,0.026,0.089,0.078,0.145,0.104L207,242.531
                                  C208.438,243.188,209.938,243.49,211.406,243.49z M128,85.333c0-35.292,28.708-64,64-64s64,28.708,64,64
                                  c0,27.156-40.552,88.552-64,120.813C168.552,173.885,128,112.49,128,85.333z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="input-group">
                      <select class="form-control has-value">
                        <option value=""></option>
                        <option value="nds" selected>с НДС</option>
                        <option value="beznds">без НДС</option>
                      </select>
                      <label>Комиссия</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 18px; height: 18px;">
                          <g>
                            <path d="M55.783,8H4.217C1.892,8,0,9.892,0,12.217v35.566C0,50.108,1.892,52,4.217,52h51.566C58.108,52,60,50.108,60,47.783V12.217
                              C60,9.892,58.108,8,55.783,8z M58,47.783C58,49.005,57.006,50,55.783,50H4.217C2.994,50,2,49.005,2,47.783V12.217
                              C2,10.995,2.994,10,4.217,10h51.566C57.006,10,58,10.995,58,12.217V47.783z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M16,37H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S16.553,37,16,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M29,37h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S29.553,37,29,37z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M8,42H7c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S8.553,42,8,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M14,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S14.553,42,14,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M19,42h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S19.553,42,19,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M25,42h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S25.553,42,25,42z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M28.29,42.29C28.109,42.48,28,42.74,28,43c0,0.26,0.109,0.52,0.29,0.71C28.479,43.89,28.74,44,29,44s0.52-0.11,0.71-0.29
                              C29.89,43.52,30,43.26,30,43c0-0.26-0.11-0.52-0.29-0.71C29.33,41.92,28.649,41.92,28.29,42.29z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M48,33c-1.276,0-2.469,0.349-3.5,0.947C43.469,33.349,42.276,33,41,33c-3.859,0-7,3.14-7,7s3.141,7,7,7
                              c1.276,0,2.469-0.349,3.5-0.947C45.531,46.651,46.724,47,48,47c3.859,0,7-3.14,7-7S51.859,33,48,33z M46,40
                              c0,1.394-0.576,2.654-1.5,3.562C43.576,42.654,43,41.394,43,40s0.576-2.654,1.5-3.562C45.424,37.346,46,38.606,46,40z M36,40
                              c0-2.757,2.243-5,5-5c0.631,0,1.23,0.13,1.787,0.345C41.68,36.583,41,38.212,41,40s0.68,3.417,1.787,4.655
                              C42.23,44.87,41.631,45,41,45C38.243,45,36,42.757,36,40z M48,45c-0.631,0-1.23-0.13-1.787-0.345C47.32,43.417,48,41.788,48,40
                              s-0.68-3.417-1.787-4.655C46.77,35.13,47.369,35,48,35c2.757,0,5,2.243,5,5S50.757,45,48,45z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M8.255,30h6h1.49h6C22.988,30,24,28.988,24,27.745v-8v-1.49C24,17.012,22.988,16,21.745,16h-7.49h-6
                              C7.012,16,6,17.012,6,18.255v9.49C6,28.988,7.012,30,8.255,30z M12,24H8v-2h4V24z M8,27.745V26h4v1.745
                              c0,0.087,0.016,0.17,0.026,0.255H8.255C8.114,28,8,27.886,8,27.745z M22,24h-4v-1.745C18,22.114,18.114,22,18.255,22h3.49
                              c0.087,0,0.17-0.016,0.255-0.026V24z M21.745,28h-3.771C17.984,27.915,18,27.832,18,27.745V26h4v1.745
                              C22,27.886,21.886,28,21.745,28z M21.745,18C21.886,18,22,18.114,22,18.255v1.49C22,19.886,21.886,20,21.745,20h-3.49
                              C17.012,20,16,21.012,16,22.255v5.49C16,27.886,15.886,28,15.745,28h-1.49C14.114,28,14,27.886,14,27.745v-9.49
                              C14,18.114,14.114,18,14.255,18H21.745z M8.255,18h3.771C12.016,18.085,12,18.168,12,18.255V20H8v-1.745
                              C8,18.114,8.114,18,8.255,18z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="input-group">
                      <input type="text" class="form-control has-value" value="0" />
                      <label>Цена</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 512 512" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                          <g>
                            <g>
                              <path d="M85.072,454.931c-1.859-1.861-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93c-1.86,1.861-2.93,4.44-2.93,7.07
                                s1.069,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931s5.21-1.07,7.069-2.931c1.86-1.859,2.931-4.439,2.931-7.069
                                S86.933,456.791,85.072,454.931z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <path d="M469.524,182.938c-1.86-1.861-4.43-2.93-7.07-2.93c-2.63,0-5.21,1.069-7.07,2.93c-1.859,1.86-2.93,4.44-2.93,7.07
                                s1.07,5.21,2.93,7.069c1.86,1.86,4.44,2.931,7.07,2.931c2.64,0,5.21-1.07,7.07-2.931c1.869-1.859,2.939-4.439,2.939-7.069
                                S471.393,184.798,469.524,182.938z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                          <g>
                            <g>
                              <path d="M509.065,2.929C507.189,1.054,504.645,0,501.992,0L255.998,0.013c-5.522,0-9.999,4.478-9.999,10V38.61l-94.789,25.399
                                c-5.335,1.43-8.501,6.913-7.071,12.247l49.127,183.342l-42.499,42.499c-5.409-7.898-14.491-13.092-24.764-13.092H30.006
                                c-16.542,0-29.999,13.458-29.999,29.999v162.996C0.007,498.542,13.464,512,30.006,512h95.998c14.053,0,25.875-9.716,29.115-22.78
                                l11.89,10.369c9.179,8.004,20.939,12.412,33.118,12.412h301.867c5.522,0,10-4.478,10-10V10
                                C511.992,7.348,510.94,4.804,509.065,2.929z M136.002,482.001c0,5.513-4.486,10-10,10H30.005c-5.514,0-10-4.486-10-10V319.005
                                c0-5.514,4.486-10,10-10h37.999V424.2c0,5.522,4.478,10,10,10s10-4.478,10-10V309.005h37.999c5.514,0,10,4.486,10,10V482.001z
                                 M166.045,80.739l79.954-21.424V96.37l-6.702,1.796c-2.563,0.687-4.746,2.362-6.072,4.659s-1.686,5.026-0.999,7.588
                                c3.843,14.341-4.698,29.134-19.039,32.977c-2.565,0.688-4.752,2.366-6.077,4.668c-1.325,2.301-1.682,5.035-0.989,7.599
                                l38.979,144.338h-20.07l-10.343-40.464c-0.329-1.288-0.905-2.475-1.676-3.507L166.045,80.739z M245.999,142.229v84.381
                                l-18.239-67.535C235.379,155.141,241.614,149.255,245.999,142.229z M389.663,492H200.125V492c-7.345,0-14.438-2.658-19.974-7.485
                                l-24.149-21.061V325.147l43.658-43.658l7.918,30.98c1.132,4.427,5.119,7.523,9.688,7.523l196.604,0.012c7.72,0,14,6.28,14,14
                                c0,7.72-6.28,14-14,14H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h132.04c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14
                                H313.13c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h110.643c7.72,0,14,6.28,14,14c0,7.72-6.28,14-14,14H313.13
                                c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h76.533c7.72,0,14,6.28,14,14C403.662,485.72,397.382,492,389.663,492z
                                 M491.994,492h-0.001h-71.359c1.939-4.273,3.028-9.01,3.028-14s-1.089-9.727-3.028-14h3.139c18.747,0,33.999-15.252,33.999-33.999
                                c0-5.468-1.305-10.635-3.609-15.217c14.396-3.954,25.005-17.149,25.005-32.782c0-7.584-2.498-14.595-6.711-20.255V235.007
                                c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10v113.792c-2.35-0.515-4.787-0.795-7.289-0.795h-0.328
                                c1.939-4.273,3.028-9.01,3.028-14c0-18.748-15.252-33.999-33.999-33.999h-16.075c17.069-7.32,29.057-24.286,29.057-44.005
                                c0-26.389-21.468-47.858-47.857-47.858c-26.388,0-47.857,21.469-47.857,47.858c0,19.719,11.989,36.685,29.057,44.005h-54.663
                                V109.863c17.864-3.893,31.96-17.988,35.852-35.853h75.221c3.892,17.865,17.988,31.96,35.852,35.853v31.09c0,5.522,4.478,10,10,10
                                s10-4.478,10-10v-40.018c0-5.522-4.478-10-10-10c-14.847,0-26.924-12.079-26.924-26.925c0-5.522-4.478-10-10-10h-93.076
                                c-5.522,0-10,4.478-10,10c0,14.847-12.078,26.925-26.924,26.925c-5.522,0-10,4.478-10,10v199.069H266V20.011L491.994,20V492z
                                 M378.996,283.858c-15.361,0-27.857-12.497-27.857-27.857s12.497-27.858,27.857-27.858S406.853,240.64,406.853,256
                                S394.357,283.858,378.996,283.858z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div class="special-last">
                    <div class="input-group" style="margin-bottom: 9px;">
                      <input type="text" class="form-control" />
                      <label>Комментарий, пожелания</label>
                      <span class="form-span">
                        <svg version="1.2" viewBox="0 0 60 60" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 20px; height: 20px;">
                          <g>
                            <path d="M10,25.465h13c0.553,0,1-0.448,1-1s-0.447-1-1-1H10c-0.553,0-1,0.448-1,1S9.447,25.465,10,25.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M36,29.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,29.465,36,29.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M36,35.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,35.465,36,35.465z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                            <path d="M54.072,2.535L19.93,2.465c-3.27,0-5.93,2.66-5.93,5.93v5.124l-8.07,0.017c-3.27,0-5.93,2.66-5.93,5.93v21.141
                              c0,3.27,2.66,5.929,5.93,5.929H12v10c0,0.413,0.254,0.784,0.64,0.933c0.117,0.045,0.239,0.067,0.36,0.067
                              c0.276,0,0.547-0.115,0.74-0.327l9.704-10.675l16.626-0.068c3.27,0,5.93-2.66,5.93-5.929v-0.113l5.26,5.786
                              c0.193,0.212,0.464,0.327,0.74,0.327c0.121,0,0.243-0.022,0.36-0.067c0.386-0.149,0.64-0.52,0.64-0.933v-10h1.07
                              c3.27,0,5.93-2.66,5.93-5.929V8.465C60,5.196,57.341,2.536,54.072,2.535z M44,40.536c0,2.167-1.763,3.929-3.934,3.929l-17.07,0.07
                              c-0.28,0.001-0.548,0.12-0.736,0.327L14,53.949v-8.414c0-0.552-0.447-1-1-1H5.93c-2.167,0-3.93-1.763-3.93-3.929V19.465
                              c0-2.167,1.763-3.93,3.932-3.93l9.068-0.019c0,0,0,0,0,0c0.001,0,0.001,0,0.002,0l25.068-0.052c2.167,0,3.93,1.763,3.93,3.93
                              v18.441V40.536z M58,29.606c0,2.167-1.763,3.929-3.93,3.929H52c-0.553,0-1,0.448-1,1v8.414l-5-5.5V19.395
                              c0-3.27-2.66-5.93-5.932-5.93L16,13.514v-5.12c0-2.167,1.763-3.93,3.928-3.93l34.141,0.07c0.001,0,0.001,0,0.002,0
                              c2.167,0,3.93,1.763,3.93,3.93V29.606z" vector-effect="non-scaling-stroke" style="fill: rgb(28, 79, 196);"></path>
                          </g>
                        </svg>
                      </span>
                    </div>
                    <div class="input-box">
                      <button class="dbutton">Добавить технику</button>
                      <button class="dbutton">Готово</button>
                    </div>
                  </div>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <sear-footer></sear-footer>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
import { TheMask } from 'vue-the-mask'
import config from '@/constants'
export default {
  name: 'ViewCategory',
  components: {
    'the-mask': TheMask,
    'star-rating': StarRating
  },
  data () {
    return {
      serverUrl: config.serverUrl,
      vehicles: [],
      hotVehicles: []
    }
  },
  methods: {
    makePhone (phone) {
      let cleaned = ('' + phone).replace(/\D/g, '')
      let match = cleaned.match(/^(7|)?(\d{3})(\d{3})(\d{4})$/)
      if (match) {
        let intlCode = (match[1] ? '+7 ' : '8 ')
        return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('')
      }
      return null
    },
    getVehicles (techId) {
      this.$store.dispatch('listGeoPositions', {
        params: {
          transport_id: techId
        },
        headers: {
          auth: this.$store.getters.userToken
        }
      })
        .then(response => {
          console.log(response)
          this.vehicles = response
        })
    },
    getHotVehicles () {
      this.$store.dispatch('generalRequest', {
        method: 'GET',
        url: 'list/hots',
        headers: {
          auth: this.$store.getters.userToken
        },
        params: {
          type: 'drivers'
        }
      })
        .then(response => {
          console.log(response)
        })
    }
  },
  created () {
    this.getHotVehicles()
    this.getVehicles(this.$route.params.id)
  },
  watch: {
    '$route.params.id' (id) {
      this.getVehicles(id)
    }
  }
}
</script>

<style scoped>

</style>
