<template>
  <div>
    <sear-big-header :type="'vehicles'"></sear-big-header>
    <sear-left-bar :cats="categories" :height="35 "></sear-left-bar>
    <section class="home-tech">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12 padding0">
              <div class="pages">
                <ul>
                  <router-link :to="{name: 'ListVehicle'}" >
                    <span>
                      <svg version="1.2" viewBox="0 0 511.526 511.526" style="opacity: 1; mix-blend-mode: normal; overflow: visible; width: 60px; height: 60px;">
                        <g transform="translate(1 1)">
                          <g>
                            <g>
                              <path d="M510.147,141.27l-34.133-102.4c-0.853-3.413-4.267-5.973-7.68-5.973h-17.067c-3.413,0-5.973,1.707-7.68,5.12
                                l-16.091,37.547H255c-1.707,0-4.267,0.853-5.973,2.56l-108.62,108.62c-12.67,1.692-21.94,12.094-21.94,25.353v59.733H75.8H33.987
                                C14.36,271.83-1,288.043-1,306.816v7.68v34.133c0,5.12,3.413,8.533,8.533,8.533h128v8.533H54.467
                                C23.747,365.696-1,390.443-1,421.163c0,30.72,24.747,55.467,55.467,55.467H319c30.72,0,55.467-24.747,55.467-55.467
                                c0-30.72-24.747-55.467-55.467-55.467h-81.067v-8.533h25.6c5.12,0,8.533-3.413,8.533-8.533v-30.839
                                c0.513-1.052,0.853-2.171,0.853-3.294v-66.56c0-20.48-10.24-39.253-27.307-51.2c-4.348-2.898-9.006-5.175-13.969-6.843
                                l44.689-46.064l144.817-5.663l20.546,184.916c-4.537,0.433-7.496,3.716-7.496,8.481v34.133c0,3.228,1.359,5.775,3.644,7.218
                                l-45.458,90.915c-1.707,2.56-1.707,5.973,0,8.533c1.707,2.56,5.12,4.267,7.68,4.267h48.64c25.6,0,48.64-16.213,56.32-41.813
                                c4.267-11.947,4.267-25.6,0-37.547l-8.029-23.512c3.368-1.096,5.469-4.05,5.469-8.061v-34.133c0-5.12-3.413-8.533-8.533-8.533
                                l16.213-178.347C511,143.83,510.147,142.123,510.147,141.27z M457.24,49.963h5.12l31.573,94.72L477.72,323.03h-18.773
                                L434.2,102.87L457.24,49.963z M485.4,356.31h-34.133v-16.213H485.4V356.31z M220.85,204.794
                                c6.447,1.569,12.429,4.597,17.529,8.802c0.367,0.308,0.738,0.613,1.095,0.931c0.102,0.09,0.203,0.181,0.305,0.272
                                c1.907,1.73,3.665,3.604,5.259,5.596c0.193,0.244,0.383,0.491,0.571,0.739c0.144,0.188,0.283,0.38,0.424,0.569
                                c2.225,3.038,4.103,6.392,5.554,10.019c0.314,0.627,0.6,1.254,0.864,1.883c1.642,4.568,2.55,9.397,2.55,14.331v54.613
                                l-59.733-21.333c-10.24-4.267-17.067-13.653-17.067-24.747v-52.907h31.573C213.521,203.563,217.265,203.978,220.85,204.794z
                                 M33.971,288.897c0.005,0,0.01-0.001,0.015-0.001h33.28c0,9.387-7.68,17.067-17.067,17.067H16.107
                                c0.006-0.148,0.011-0.297,0.021-0.444C17.18,296.343,24.741,288.906,33.971,288.897z M357.4,421.163
                                c0,21.333-17.067,38.4-38.4,38.4H54.467c-21.333,0-38.4-17.067-38.4-38.4c0-21.333,17.067-38.4,38.4-38.4h89.6H229.4H319
                                C340.333,382.763,357.4,399.83,357.4,421.163z M220.867,365.696H152.6v-8.533h68.267V365.696z M229.4,340.096h-85.333h-128
                                V323.03H50.2c18.773,0,34.133-15.36,34.133-34.133H127c5.12,0,8.533-3.413,8.533-8.533v-68.267c0-4.267,3.413-8.533,8.533-8.533
                                h17.92v52.053c0,18.773,11.093,34.987,28.16,40.96L255,320.017v20.079H229.4z M272.067,126.763c-2.56,0-4.267,0.853-5.973,2.56
                                l-54.613,57.173h-0.853h-0.853H170.52h-5.973l93.867-93.867h161.768l-2.194,5.12c-0.853,1.707-0.853,2.56-0.853,4.267
                                l1.994,17.946L272.067,126.763z M488.813,430.55c-5.12,17.067-21.333,29.013-40.107,29.013H413.72l42.667-85.333h23.04
                                l9.387,29.013C491.373,412.63,491.373,422.016,488.813,430.55z" vector-effect="non-scaling-stroke"></path>
                              <path d="M67.267,391.296c-0.564,0-1.103,0.048-1.622,0.129c-0.873-0.081-1.754-0.129-2.644-0.129
                                c-16.213,0-29.867,13.653-29.867,29.867c0,16.213,13.653,29.867,29.867,29.867c0.89,0,1.771-0.048,2.644-0.129
                                c0.52,0.08,1.059,0.129,1.622,0.129H306.2c0.52,0,1.018-0.055,1.501-0.138c0.912,0.088,1.834,0.138,2.766,0.138
                                c16.213,0,29.867-13.653,29.867-29.867c0-16.213-13.653-29.867-29.867-29.867c-0.89,0-1.771,0.048-2.644,0.129
                                c-0.52-0.08-1.059-0.129-1.622-0.129H67.267z M50.2,421.163c0-6.827,5.973-12.8,12.8-12.8c6.375,0,12.002,5.21,12.72,11.459
                                c0.004,0.033,0.01,0.065,0.013,0.098c0.044,0.411,0.067,0.825,0.067,1.243s-0.024,0.833-0.067,1.243
                                c-0.003,0.033-0.01,0.065-0.013,0.098c-0.717,6.249-6.344,11.459-12.72,11.459C56.173,433.963,50.2,427.99,50.2,421.163z
                                 M92.867,421.163c0-4.267-0.853-8.533-2.56-12.8h193.275c-1.905,3.902-2.981,8.25-2.981,12.8c0,4.55,1.076,8.898,2.981,12.8
                                H90.307C92.013,429.696,92.867,425.43,92.867,421.163z M323.267,421.163c0,6.827-5.973,12.8-12.8,12.8
                                c-6.375,0-12.002-5.21-12.72-11.459c-0.004-0.033-0.01-0.065-0.013-0.098c-0.044-0.411-0.067-0.825-0.067-1.243
                                c0-0.425,0.023-0.847,0.068-1.265c0-0.005,0.001-0.009,0.002-0.014c0.686-6.277,6.333-11.522,12.73-11.522
                                C317.293,408.363,323.267,414.336,323.267,421.163z" vector-effect="non-scaling-stroke"></path>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </span>
                    Спецтехника
                  </router-link>
                  <router-link :to="{name: 'ListMaterial'}">
                    <span>
                      <svg version="1.2" viewBox="0 0 512 512">
                        <g>
                          <g>
                            <path d="M511.061,241.365c-0.213-0.512-0.427-0.981-0.725-1.472c-0.512-0.853-1.173-1.579-1.92-2.261
                              c-0.299-0.277-0.427-0.661-0.768-0.896c-0.149-0.107-0.363-0.107-0.512-0.213c-0.192-0.128-0.299-0.32-0.512-0.448l-47.893-27.371
                              c6.4-6.165,10.603-14.507,10.603-23.936c0-12.736-7.104-24.213-18.517-29.952l-78.165-39.083l9.067-22.677l6.144-3.072
                              c3.179,1.92,6.848,2.965,10.667,2.965c1.941,0,3.925-0.256,5.888-0.811l82.219-23.509C501.568,64.341,512,50.517,512,34.987
                              C512,15.701,496.299,0,477.013,0H467.2c-7.936,0-15.701,2.731-21.867,7.659l-59.819,47.851c-4.949,3.968-7.381,9.685-7.595,15.595
                              l-9.365,4.672c-2.347,1.173-4.181,3.157-5.141,5.589l-9.92,24.789l-29.803-14.891c-22.763-11.392-51.947-5.227-68.181,14.251
                              l-90.88,109.056L7.936,256.363c-0.597,0.171-1.045,0.533-1.6,0.789c-0.32,0.149-0.704,0.085-1.024,0.277
                              c-0.192,0.107-0.277,0.341-0.448,0.448c-1.344,0.896-2.517,1.984-3.328,3.349c-0.085,0.149-0.128,0.299-0.213,0.448
                              c-0.704,1.323-1.067,2.795-1.152,4.331c0,0.235-0.171,0.427-0.171,0.661V416c0,3.819,2.048,7.36,5.376,9.259l149.333,85.333
                              c1.643,0.939,3.477,1.408,5.291,1.408c1.045,0,2.133-0.149,3.179-0.491l341.333-106.667c4.459-1.387,7.488-5.504,7.488-10.176
                              V245.333c0-0.363-0.213-0.661-0.235-1.024C511.659,243.285,511.445,242.325,511.061,241.365z M458.688,24.32
                              c2.389-1.92,5.419-2.987,8.512-2.987h9.835c7.531,0,13.653,6.123,13.653,13.653c0,6.059-4.075,11.456-9.899,13.12l-76.565,21.888
                              c-0.021-0.043-0.021-0.064-0.021-0.107c-0.235-0.491-0.661-0.789-0.96-1.216L458.688,24.32z M271.915,119.168
                              c6.635-7.936,16.363-12.501,26.709-12.501c5.355,0,10.731,1.28,15.595,3.648l31.339,15.659l-2.155,5.376l-103.573,62.165
                              c-5.035,3.029-6.677,9.579-3.648,14.635c2.005,3.349,5.525,5.184,9.152,5.184c1.877,0,3.776-0.491,5.483-1.536l106.667-64
                              c2.005-1.195,3.541-3.008,4.416-5.184l2.816-7.04l76.608,38.293c4.139,2.091,6.72,6.251,6.72,10.965
                              c0,5.589-3.797,10.432-9.216,11.797l-5.184,1.301c-0.021,0-0.064,0.021-0.085,0.021l-287.083,71.765L271.915,119.168z
                               M149.333,482.944l-128-73.131V285.056l128,73.131V482.944z M161.259,340.437L38.507,270.293l102.485-27.328l-31.851,38.208
                              c-2.944,3.563-3.285,8.597-0.832,12.501c1.963,3.157,5.419,4.992,9.024,4.992c0.853,0,1.728-0.107,2.603-0.341l35.84-8.96
                              l30.741,18.453c1.728,1.024,3.627,1.515,5.483,1.515c3.605,0,7.147-1.835,9.152-5.163c3.029-5.056,1.408-11.605-3.648-14.635
                              l-12.48-7.488l41.003-10.24l24.491,14.677c1.728,1.024,3.627,1.515,5.483,1.515c3.605,0,7.147-1.835,9.152-5.163
                              c3.029-5.056,1.408-11.605-3.648-14.635l-6.208-3.712l41.024-10.261l18.176,10.923c1.749,1.024,3.648,1.515,5.504,1.515
                              c3.605,0,7.147-1.835,9.152-5.163c3.008-5.035,1.408-11.541-3.584-14.592l41.024-10.261l11.925,7.147
                              c1.728,1.045,3.627,1.536,5.483,1.536c3.605,0,7.147-1.835,9.152-5.163c1.941-3.243,1.792-7.04,0.213-10.197l41.451-10.368
                              l39.979,22.848L161.259,340.437z M490.667,386.816l-320,100.011V359.829l320-99.989V386.816z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                      </svg>
                    </span>
                    Стройматериалы
                  </router-link>
                  <router-link :to="{name: 'ListPart'}">
                    <span>
                      <svg version="1.2" viewBox="0 0 512 512">
                        <g>
                          <g>
                            <path d="M494.353,46.611l-30.766-30.766c-20.064-20.064-53.872-21.231-75.366-2.6l-54.071,46.87
                              c-0.692,0.6-1.286,1.306-1.758,2.091l-52.635,87.676l-33.796,11.265c-2.856,0.952-5.015,3.315-5.706,6.244
                              c-0.691,2.929,0.183,6.007,2.311,8.136l92.105,92.104c1.648,1.647,3.865,2.543,6.141,2.543c0.665,0,1.334-0.076,1.995-0.232
                              c2.929-0.691,5.292-2.85,6.244-5.706l11.268-33.807l88.965-53.72c0.783-0.474,1.487-1.067,2.085-1.761l45.76-53.029
                              C515.656,100.451,514.409,66.668,494.353,46.611z M483.981,110.572l-44.857,51.982l-90.52,54.659
                              c-1.767,1.067-3.096,2.729-3.749,4.689l-7.837,23.512l-20.755-20.755c-0.004-0.004-0.007-0.009-0.011-0.013l-30.703-30.701
                              c-0.003-0.003-0.007-0.005-0.01-0.008l-20.757-20.757l23.512-7.837c1.966-0.656,3.633-1.992,4.699-3.768l53.578-89.243
                              l53.026-45.964c14.753-12.79,37.949-12.002,51.708,1.759l30.767,30.766C495.838,72.657,496.694,95.841,483.981,110.572z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M469.736,348.922c-25.496-25.495-63.021-34.357-97.02-23.335L188.164,141.035c11.021-33.999,2.159-71.525-23.335-97.021
                              C137.969,17.156,97.758,8.754,62.384,22.618c-2.727,1.069-4.733,3.441-5.332,6.309c-0.599,2.867,0.288,5.844,2.36,7.916
                              l55.241,55.24L77.81,128.925L22.57,73.684c-2.073-2.071-5.046-2.956-7.916-2.36c-2.868,0.599-5.241,2.604-6.309,5.332
                              c-13.862,35.372-5.463,75.584,21.396,102.445c25.496,25.495,63.021,34.359,97.02,23.335l69.008,69.008l-85.937,85.939
                              l-54.658,30.56c-1.52,0.85-2.75,2.138-3.529,3.696l-24.561,49.122c-1.672,3.343-1.017,7.381,1.626,10.025l30.701,30.702
                              c1.667,1.667,3.89,2.543,6.143,2.543c1.319,0,2.648-0.3,3.882-0.917l49.122-24.561c1.558-0.779,2.846-2.009,3.696-3.529
                              l30.56-54.659l85.939-85.936l72.561,72.561c-11.022,33.999-2.159,71.525,23.336,97.021c18.263,18.262,42.696,27.99,67.586,27.99
                              c11.716-0.001,23.536-2.157,34.858-6.593c2.727-1.069,4.733-3.441,5.332-6.309c0.599-2.867-0.288-5.844-2.36-7.916l-55.241-55.241
                              l36.842-36.841l55.24,55.24c2.072,2.072,5.047,2.961,7.916,2.36c2.868-0.599,5.241-2.604,6.309-5.332
                              C504.995,415.995,496.596,375.783,469.736,348.922z M139.68,388.935c-0.565,0.565-1.048,1.205-1.438,1.903l-29.843,53.376
                              L67.267,464.78l-21.85-21.85l20.565-41.133l53.375-29.842c0.698-0.39,1.338-0.873,1.903-1.438l86.789-86.79l18.421,18.421
                              L139.68,388.935z M478.86,431.73l-51.052-51.052c-3.392-3.39-8.889-3.39-12.281,0l-49.122,49.122
                              c-1.628,1.629-2.543,3.837-2.543,6.141s0.915,4.511,2.543,6.141l51.053,51.053c-25.314,5.03-51.861-2.739-70.527-21.405
                              c-21.977-21.977-28.85-54.882-17.507-83.827c1.259-3.214,0.496-6.868-1.944-9.309L135.157,186.272
                              c-1.66-1.659-3.881-2.543-6.143-2.543c-1.064,0-2.138,0.196-3.166,0.599c-28.944,11.344-61.849,4.469-83.827-17.506
                              c-18.667-18.668-26.437-45.216-21.404-70.528l51.052,51.053c3.392,3.391,8.889,3.389,12.281,0l49.122-49.122
                              c3.391-3.392,3.391-8.889,0-12.281L82.02,34.891c25.314-5.04,51.859,2.736,70.527,21.405
                              c21.977,21.977,28.85,54.882,17.507,83.827c-1.259,3.214-0.496,6.868,1.944,9.309l192.321,192.32
                              c2.442,2.44,6.098,3.203,9.309,1.944c28.946-11.34,61.849-4.47,83.827,17.506C476.124,379.87,483.892,406.419,478.86,431.73z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                      </svg>
                    </span>
                    Запчасти
                  </router-link>
                  <router-link :to="{name: 'ListPart'}">
                    <span>
                      <svg version="1.2" viewBox="0 0 411.294 411.294">
                        <g>
                          <g>
                            <path d="M237.656,313.414c-26.465-0.045-47.957,21.372-48.002,47.838c-0.02,11.877,4.371,23.339,12.322,32.162h-100.32v16h136
                              c26.51,0,48-21.49,48-48C285.656,334.905,264.166,313.414,237.656,313.414z M237.656,393.414c-17.673,0-32-14.327-32-32
                              c0-17.673,14.327-32,32-32c17.673,0,32,14.327,32,32C269.656,379.087,255.329,393.414,237.656,393.414z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <circle cx="237.656" cy="361.414" r="16" vector-effect="non-scaling-stroke"></circle>
                          </g>
                        </g>
                        <g>
                          <g>
                            <rect x="260.806" y="245.428" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -77.9631 318.636)" width="169.681" height="16" vector-effect="non-scaling-stroke"></rect>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M43.312,155.758c-3.124-3.123-8.188-3.123-11.312,0l-32,32l11.312,11.312l26.344-26.344L184,319.07l11.312-11.312
                              L43.312,155.758z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M380.448,163.758L267.312,50.614c-3.174-3.001-8.138-3.001-11.312,0L142.864,163.758c-1.5,1.5-2.344,3.534-2.344,5.656
                              c0,2.122,0.844,4.156,2.344,5.656L256,288.198c3.124,3.123,8.188,3.123,11.312,0L380.448,175.07
                              C383.571,171.946,383.571,166.882,380.448,163.758z M302.12,230.782l-29.152-29.136l20.688-20.688l29.136,29.136L302.12,230.782z
                               M334.104,198.782l-34.792-34.792c-3.124-3.123-8.188-3.123-11.312,0l-32,32c-3.123,3.124-3.123,8.188,0,11.312l34.792,34.792
                              l-29.136,29.152L159.832,169.414L261.656,67.582L363.48,169.414L334.104,198.782z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M195.312,71.87l-67.88-67.88c-3.124-3.123-8.188-3.123-11.312,0L48.232,71.87c-3.123,3.124-3.123,8.188,0,11.312
                              l67.888,67.888c3.124,3.123,8.188,3.123,11.312,0l67.88-67.888C198.435,80.058,198.435,74.994,195.312,71.87z M121.776,134.102
                              L65.2,77.526l56.576-56.568l56.568,56.568L121.776,134.102z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <rect x="69.656" y="393.646" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
                          </g>
                        </g>
                        <g>
                          <g>
                            <rect x="53.656" y="377.646" width="16" height="16" vector-effect="non-scaling-stroke"></rect>
                          </g>
                        </g>
                        <g>
                          <g>
                            <rect x="213.369" y="141.666" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -35.0527 214.7078)" width="56.56" height="16" vector-effect="non-scaling-stroke"></rect>
                          </g>
                        </g>
                        <g>
                          <g>
                            <rect x="98.343" y="57.65" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -14.3044 96.7658)" width="22.624" height="16" vector-effect="non-scaling-stroke"></rect>
                          </g>
                        </g>
                      </svg>
                    </span>
                    Грузоперевозки
                  </router-link>
                  <router-link :to="{name: 'ListPart'}">
                    <span>
                      <svg version="1.2" viewBox="0 0 512.001 512.001">
                        <g>
                          <g>
                            <path d="M341.954,328.358c-12.131,0-22-8.542-22-19.041c0-10.5,9.869-19.042,22-19.042c12.131,0,22,8.542,22,19.042
                              c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10c0-18.325-13.654-33.733-32-37.915v-5.201c0-5.522-4.478-10-10-10
                              c-5.522,0-10,4.478-10,10v5.201c-18.346,4.182-32,19.59-32,37.915c0,21.527,18.841,39.041,42,39.041c12.131,0,22,8.542,22,19.042
                              s-9.869,19.042-22,19.042c-12.131,0-22-8.542-22-19.042c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10
                              c0,18.325,13.654,33.733,32,37.915v4.32c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10v-4.32c18.346-4.182,32-19.59,32-37.915
                              C383.954,345.872,365.113,328.358,341.954,328.358z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M451.482,268.876c-13.063-20.355-31.467-36.643-53.222-47.101c-4.979-2.394-10.954-0.298-13.346,4.68
                              c-2.393,4.978-0.298,10.952,4.68,13.345C427.505,258.024,452,296.963,452,339.001c0,17.988-4.434,35.827-12.821,51.591
                              c-2.594,4.875-0.745,10.931,4.131,13.525c1.496,0.796,3.104,1.174,4.688,1.174c3.578,0,7.039-1.926,8.837-5.305
                              C466.756,381.342,472,360.253,472,339.001C472,314.041,464.905,289.792,451.482,268.876z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M357.673,209.002L357,209.001c-5.522,0-10,4.477-10,10c0,5.523,4.478,10,10,10l0.579,0.001c0.016,0,0.031,0,0.048,0
                              c5.501,0,9.973-4.446,9.999-9.953C367.651,213.526,363.195,209.028,357.673,209.002z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M294.407,438.202c-37.91-18.225-62.405-57.164-62.405-99.201c0-17.988,4.434-35.827,12.821-51.591
                              c2.594-4.875,0.745-10.931-4.131-13.525c-4.874-2.594-10.932-0.745-13.525,4.131c-9.921,18.645-15.165,39.733-15.165,60.985
                              c0,24.96,7.095,49.208,20.518,70.125c13.063,20.355,31.467,36.643,53.222,47.102c1.397,0.672,2.873,0.989,4.326,0.989
                              c3.724,0,7.298-2.089,9.02-5.669C301.479,446.57,299.385,440.595,294.407,438.202z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M327.002,449.001l-0.579-0.002c-5.548-0.01-10.02,4.429-10.045,9.953c-0.026,5.523,4.432,10.021,9.954,10.047l0.67,0.002
                              c5.522,0,10-4.478,10-10C337.002,453.479,332.524,449.001,327.002,449.001z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                        <g>
                          <g>
                            <path d="M387.409,175.168c-1.217-2.9-2.708-5.633-4.443-8.168H409c25.364,0,46-20.636,46-46s-20.636-46-46-46h-80.08
                              c5.091-7.402,8.08-16.357,8.08-26c0-25.364-20.636-46-46-46H46C20.636,3,0,23.636,0,49s20.636,46,46,46h80.08
                              c-5.091,7.402-8.08,16.357-8.08,26s2.988,18.598,8.08,26H100c-25.364,0-46,20.636-46,46c0,14.567,6.814,27.566,17.415,36
                              C60.814,237.434,54,250.433,54,265s6.814,27.566,17.415,36C60.814,309.434,54,322.433,54,337c0,14.567,6.814,27.566,17.415,36
                              C60.814,381.434,54,394.433,54,409c0,25.364,20.636,46,46,46h117.85c31.046,33.207,75.212,54.001,124.151,54.001
                              c93.738,0,170-76.262,170-170C512.001,260.984,459.171,195.083,387.409,175.168z M409,95c14.337,0,26,11.664,26,26
                              s-11.663,26-26,26h-64H164c-14.337,0-26-11.664-26-26s11.663-26,26-26H409z M46,75c-14.337,0-26-11.664-26-26s11.663-26,26-26h245
                              c14.337,0,26,11.664,26,26s-11.663,26-26,26H46z M100,167h245c4.028,0,7.885,0.936,11.345,2.612
                              c-4.73-0.397-9.512-0.611-14.344-0.611c-46.945,0-89.505,19.129-120.299,49.999H100c-14.336,0-26-11.664-26-26S85.664,167,100,167
                              z M100,239h104.615c-11.352,15.553-20.129,33.095-25.703,52H100c-14.337,0-26-11.663-26-26C74,250.664,85.663,239,100,239z
                               M100,311h74.32c-1.517,9.113-2.319,18.464-2.319,28.001c0,8.146,0.589,16.156,1.702,23.999H100c-14.337,0-26-11.663-26-26
                              C74,322.663,85.663,311,100,311z M100,435c-14.337,0-26-11.663-26-26c0-14.337,11.663-26,26-26h77.786
                              c5.046,18.813,13.243,36.346,23.993,52H100z M342.001,489.001c-82.71,0-150-67.29-150-150s67.29-150,150-150s150,67.29,150,150
                              S424.711,489.001,342.001,489.001z" vector-effect="non-scaling-stroke"></path>
                          </g>
                        </g>
                      </svg>
                    </span>
                    Продать - купить спецтехнику
                  </router-link>
                  <router-link :to="{name: 'Vehicles'}">
                    <span>
                      <svg version="1.2" viewBox="0 0 423.221 423.221">
                        <g>
                          <path d="M352.346,231.706l7.955-0.378c2.06-0.099,3.976-0.979,5.394-2.48l8.351-8.842c2.28-2.414,2.815-6.032,1.329-9.003
                            l-5.843-11.564l12.973-7.983c1.674-1.03,2.901-2.637,3.456-4.521l5.253-17.86c1.133-3.855-0.797-7.955-4.49-9.538l-7.879-3.326
                            l1.049-6.1l9.008-3.793c2.151-0.904,3.788-2.7,4.491-4.927l1.269-4.014l10.367,12.253c1.516,1.791,3.712,2.818,6.026,2.818
                            c4.398,0,7.976-3.565,7.976-7.948l-0.001-13.994l-0.322-15.146c-0.214-10.079-8.578-18.279-18.645-18.279
                            c-0.747,0-1.504,0.045-2.25,0.135l-77.435,9.292l0.531-1.442c0.876-2.378,0.558-5.056-0.852-7.161
                            c-1.409-2.106-3.763-3.422-6.294-3.519l-9.848-0.379c-2.599-0.09-5.105,1.101-6.658,3.17l-24.181,32.253l-21.325,10.69
                            l-17.579-9.057c-1.12-0.576-2.376-0.881-3.634-0.881c-2.187,0-4.3,0.915-5.794,2.51l-16.302,17.388
                            c-2.068,2.206-2.704,5.34-1.658,8.177l2.943,7.884l-10.435,9.887l-9.946,5.759c-2.84,1.645-4.361,4.805-3.873,8.051l0.831,5.539
                            c0.578,3.856,3.955,6.766,7.854,6.765c1.125,0,2.221-0.236,3.257-0.702l8.502-3.827l10.604-4.494l10.86,7.602
                            c0.921,0.646,1.948,1.081,3.047,1.292l16.603,3.165v4.104l-34.356-5.153c-1.383-0.212-2.799-0.047-4.097,0.466l-22.403,8.843
                            c-2.456,0.97-4.263,3.087-4.835,5.664l-4.38,19.712c-0.621,2.791,0.314,5.713,2.439,7.624l10.325,9.294
                            c1.665,1.498,3.893,2.222,6.122,1.996l19.936-2.109l0.574,29.839c0.014,0.731,0.129,1.455,0.34,2.151l3.636,12
                            c2.232,7.368,8.905,12.318,16.604,12.318c6.49,0,12.385-3.575,15.385-9.33l27.542-52.836c1.64-3.145,0.978-7.037-1.61-9.464
                            l-3.589-3.364l5.584-1.861c2.629-0.877,4.58-3.012,5.216-5.709c0.637-2.697-0.153-5.479-2.113-7.438l-8.196-8.117l0.544-0.688
                            l17.154,11.061l13.818,19.96c1.483,2.143,3.921,3.421,6.523,3.421c2.989,0,5.696-1.649,7.064-4.304l6.159-12.105l13.825,9.823
                            c1.362,0.968,2.948,1.48,4.585,1.48c2.357-0.001,4.585-1.043,6.114-2.861c1.498-1.781,2.126-4.133,1.723-6.452L352.346,231.706z
                             M245.226,298.895c-1.617,3.102-4.794,5.028-8.292,5.028c-4.149,0-7.745-2.668-8.948-6.639l-3.633-11.983l-0.574-29.84
                            c-0.042-2.214-1.017-4.325-2.675-5.793c-1.657-1.468-3.87-2.173-6.074-1.954l-19.956,2.067l-10.306-9.235l4.344-19.671
                            l22.372-8.839l37.33,5.6l14.892,19.379c0.341,0.455,9.062,9.044,9.062,9.044L245.226,298.895z M346.147,226.682
                            c-1.423,1.776-2.016,4.082-1.626,6.325l0.235,1.358l-13.705-9.738c-1.352-0.96-2.94-1.468-4.593-1.468
                            c-2.99,0-5.697,1.649-7.064,4.305l-6.182,12.064l-13.78-19.905c-0.596-0.86-1.344-1.584-2.225-2.152l-17.17-11.078
                            c-1.286-0.83-2.774-1.269-4.304-1.269c-2.267,0-4.43,0.972-5.936,2.665l-0.622,0.699c-2.789,3.138-2.648,7.921,0.32,10.89
                            l8.13,8.131l-9.099,3.075l-13.497-17.975v-7.436c0-3.795-2.704-7.073-6.431-7.796l-16.629-3.214l-10.862-7.603
                            c-2.212-1.549-5.144-1.863-7.636-0.814l-10.75,4.528l-8.507,3.911l-0.86-5.479l9.938-5.755c0.535-0.308,1.035-0.681,1.49-1.111
                            l10.445-9.895c2.309-2.186,3.09-5.527,1.991-8.511l-2.941-7.887l16.231-17.376l17.579,9.057c1.119,0.576,2.376,0.881,3.635,0.881
                            c1.226,0,2.453-0.29,3.551-0.838l21.385-10.692c1.095-0.55,2.061-1.356,2.796-2.335L303.607,102l9.794,0.3l-0.565,1.533
                            c-0.897,2.435-0.548,5.157,0.934,7.283c1.668,2.391,4.475,3.705,7.462,3.346l77.533-9.304c0.431-0.052,0.868-0.078,1.297-0.078
                            c5.748,0,10.524,4.688,10.647,10.449l0.321,15.062l-0.002,13.745l-10.33-12.209c-1.512-1.788-3.716-2.814-6.046-2.814
                            c-3.49,0-6.539,2.23-7.587,5.551l-1.267,4.08l-9.009,3.793c-2.497,1.052-4.268,3.271-4.738,5.938l-1.085,6.144
                            c-0.644,3.648,1.285,7.217,4.692,8.679l7.88,3.319l-5.228,17.826l-12.972,7.983c-3.531,2.172-4.794,6.606-2.94,10.313l5.831,11.574
                            l-8.311,8.824l-7.955,0.378C349.691,223.824,347.571,224.906,346.147,226.682z" vector-effect="non-scaling-stroke"></path>
                          <path d="M422.31,296.3l-9.319-17.706c-1.377-2.616-4.071-4.241-7.03-4.241c-2.629,0-5.073,1.293-6.558,3.468l-2.432-3.04
                            c-1.515-1.894-3.775-2.979-6.202-2.979c-1.437,0-2.849,0.391-4.083,1.132l-22.045,13.227c-2.104,1.261-3.526,3.47-3.805,5.907
                            l-1.877,16.424c-0.256,2.246,0.459,4.5,1.962,6.185c1.726,1.935,4.28,2.921,6.912,2.594l18.67-2.377l2.958,7.025
                            c1.242,2.952,4.114,4.859,7.316,4.859c0,0,0,0,0.001,0c0.455,0,0.913-0.04,1.362-0.118l10.25-1.782
                            c2.514-0.435,4.678-2.068,5.79-4.365l8.253-17.056C423.524,301.198,423.479,298.522,422.31,296.3z M407.02,316.996l-10.205,1.774
                            l-2.939-6.982c-1.243-2.951-4.115-4.858-7.317-4.858c-0.326,0-0.656,0.02-0.986,0.062l-18.665,2.407l1.849-16.379l21.969-13.242
                            l2.483,3.104c1.515,1.894,3.774,2.979,6.198,2.979c2.627,0,5.065-1.286,6.553-3.453l9.272,17.564L407.02,316.996z" vector-effect="non-scaling-stroke"></path>
                          <path d="M153.469,265.01l-37.698-24.424c-2.067-1.339-4.459-2.047-6.916-2.047c-3.966,0-7.648,1.844-10.051,4.947l-8.455-4.733
                            l-15.1-21.496h7.702c1.836,0,3.627-0.642,5.043-1.807l28.637-23.547l15.938-9.032c1.94-1.1,3.336-2.977,3.829-5.151
                            c0.494-2.175,0.045-4.471-1.231-6.301l-14.111-20.227c-1.531-2.193-4.057-3.468-6.713-3.395c-2.673,0.067-5.115,1.462-6.532,3.729
                            l-7.273,11.782l-8.339-9.378l16.573-12.187c3.068-2.257,4.102-6.388,2.459-9.822l-4.086-8.545
                            c-0.953-1.992-2.709-3.509-4.818-4.161c-2.11-0.653-4.415-0.391-6.323,0.715l-7.224,4.21l-32.646-13.813L32.686,97.102
                            c-2.844-1.604-6.443-1.283-8.957,0.795L11.31,108.156c-1.091,0.901-1.923,2.08-2.405,3.408l-8.429,23.181
                            c-0.871,2.393-0.534,5.079,0.9,7.185c1.435,2.105,3.811,3.4,6.358,3.467l17.89,0.422l11.355,28.074l-1.854,27.803
                            c-0.112,1.684,0.327,3.394,1.238,4.814l15.267,23.815c0.919,1.435,2.248,2.517,3.845,3.131l29.367,11.24
                            c0.266,0.254,0.562,0.465,0.876,0.633l8.586,4.807l-4.611,6.916c-1.646,2.469-1.782,5.619-0.355,8.222l9.663,17.604l-1.26,42.85
                            c-0.054,1.834,0.534,3.643,1.658,5.096l7.795,10.067c1.52,1.963,3.793,3.089,6.239,3.089c2.157,0,4.255-0.882,5.756-2.419
                            c1.485-1.521,2.274-3.552,2.222-5.719l-0.358-14.23l29.281-28.035c1.052-1.008,1.806-2.283,2.18-3.689l4.311-16.166
                            C157.713,270.388,156.365,266.888,153.469,265.01z M58.366,226.008l-15.258-23.78l1.854-27.803c0.079-1.189-0.115-2.4-0.561-3.504
                            l-11.36-28.102c-1.187-2.933-3.997-4.88-7.158-4.961L8.022,137.4l8.382-23.076l12.352-10.253l23.448,13.227
                            c0.265,0.149,0.538,0.283,0.807,0.396l32.653,13.815c2.281,0.964,4.924,0.798,7.07-0.441l7.194-4.239l4.105,8.471l-16.574,12.186
                            c-1.79,1.316-2.953,3.337-3.191,5.545s0.467,4.431,1.934,6.098l8.33,9.466c1.674,1.902,4.082,2.879,6.607,2.668
                            c2.525-0.206,4.744-1.557,6.087-3.705l7.321-11.713l14.079,20.065l-15.932,9.029c-0.394,0.222-0.773,0.482-1.134,0.777
                            l-28.608,23.54c0,0-8.894,0.001-8.941,0.002c-2.709,0.042-5.164,1.583-6.407,4.021c-1.277,2.505-1.072,5.482,0.536,7.771
                            l8.353,11.891L58.366,226.008z M144.799,287.798l-29.28,28.034c-1.608,1.54-2.5,3.699-2.447,5.924l0.333,14.091l-7.669-9.884
                            l1.26-42.851c0.041-1.412-0.295-2.813-0.975-4.051l-9.673-17.572l8.563-12.843c0.879-1.32,2.354-2.107,3.944-2.107
                            c0.91,0,1.797,0.263,2.566,0.762l37.673,24.358L144.799,287.798z" vector-effect="non-scaling-stroke"></path>
                          <path d="M136.06,107.943l4.304,3.261v39.436c0,4.382,3.567,7.947,7.951,7.947c1.535,0,3.034-0.45,4.335-1.302l27.258-17.822
                            c1.707-1.116,2.906-2.823,3.378-4.806l9.091-38.182c0.678-2.85-0.261-5.828-2.45-7.773l-8.403-7.47
                            c-2.229-1.982-5.52-2.545-8.282-1.414l-35.365,14.468c-2.666,1.09-4.485,3.446-4.865,6.301
                            C132.632,103.442,133.771,106.192,136.06,107.943z M176.209,87.212l8.384,7.411l-9.065,38.146l-27.165,17.76v-39.324
                            c0-2.458-1.165-4.816-3.117-6.308l-4.244-3.245L176.209,87.212z" vector-effect="non-scaling-stroke"></path>
                        </g>
                      </svg>
                    </span>
                    На карте
                  </router-link>
                  <router-link :to="{name: 'ListPart'}">
                    <span style="height: 50px; width: 50px">
                      <svg version="1.2" viewBox="0 0 52 52">
                        <g>
                          <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
                            S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                          <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1
                            s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                        </g>
                      </svg>
                    </span>
                    Сделать заказ
                  </router-link>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <h2>Услуги спецтехники</h2>
          </div>
          <template v-for="(item,index) in categories">
            <div :key="index" class="row" v-if="item.childs.length > 0">
              <div class="divhr" :id="item.id"></div>
              <h2>{{item.name}}</h2>
              <div class="divhr"></div>
              <div class="vehicles row margin0 col-md-11">
                <template v-for="(category,index) in item.childs">
                  <div :key="index" class="col-md-3" @click="viewCategory(category, item.name)">
                    <div class="vehicle">
                      <div class="vehicle-bg" :style="{'background': 'url('+serverUrl+category.icon+')'}">
                      </div>
                      <h4>{{category.name}}</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </template>
          <div class="row">
            <div class="col-md-1 call">
              <a href="">
                <span>
                  <svg version="1.2" viewBox="0 0 52 52" style="width: 40px; height: 40px;">
                    <g>
                      <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
                        S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                      <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1
                        s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                    </g>
                  </svg>
                </span>
                Cделать заказ
              </a>
              <a href="">
                <span>
                  <svg version="1.2" viewBox="0 -0.49606299212598515 63 63" style="width: 28px; height: 28px;">
                    <g>
                      <path xmlns:default="http://www.w3.org/2000/svg" d="M19,0c0.5,0,0.4,0,0.7,0.2c0.3,0.2,1.1,1.3,1.3,2c0.1,0.7,0.1,2.2,0.4,3.6c0.2,1.4,1,5.4,1.9,7.7c0.9,2.4,1.3,3.4,0.3,4.8  c-1,1.5-6.9,7.5-6.9,7.5s1.7,3,3.4,5.2c1.7,2.2,4.1,5.2,7.4,8c3.3,2.8,6.5,5.2,10,7.1c3.5-3.4,6.4-6.4,7.2-7.1  c0.8-0.7,0.9-0.9,2.6-0.4c1.7,0.5,3.9,1.5,6.2,1.9c2.3,0.4,4.8,0.7,6.3,0.9c1.5,0.2,1.5,0.2,2,0.9c0.5,0.7,1,1.6,1.1,1.8  c0.1,0.2,0,1.2,0,4.3c0,3.1,0,7.5,0,8.4c0,0.9-0.1,0.9-0.3,1.5c-0.2,0.6-0.6,2.1-0.7,2.2c-0.1,0.2-1.4,1-2.5,1c-1,0-4.3-0.1-6.5-0.4  c-2.2-0.3-8.1-1.7-10.4-2.5c-2.3-0.8-9.6-3.2-18.2-9.6c-8.6-6.4-14.6-15-18.1-21.8C2.8,20.6,1.1,12.8,0.5,9  c-0.6-3.8-0.6-5.2-0.4-6.3C0.3,1.7,1.4,0.9,2,0.6C2.6,0.2,3.5-0.1,4.4,0c0.9,0.1,3.5,0,6.9,0S19,0,19,0z" style="fill: rgb(255, 255, 255);"></path>
                    </g>
                  </svg>
                </span>
                Заказать звонок
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <sear-footer></sear-footer>
  </div>
</template>

<script>
import config from '../../constants'
export default {
  name: 'List',
  data () {
    return {
      serverUrl: config.serverUrl,
      categories: this.$store.getters.getTechs,
      transports: this.$store.getters.getTransports
    }
  },
  methods: {
    viewCategory (category, mainCat) {
      this.$router.push({name: 'ViewCategory', params: {id: category.id}, query: {cat: mainCat, subCat: category.name}})
    }
  },
  created () {
    if (this.$store.getters.getMaterials.length === 0) {
      this.$store.dispatch('listTechs')
        .then(response => {
          this.categories = this.$store.getters.getTechs
        })
    }
    if (this.$store.getters.getTransports.length > 0) {
      const self = this
      this.categories.forEach(function (category) {
        category.childs = []
        if (self.$store.getters.getTransports[category.id]) {
          category.childs = self.$store.getters.getTransports[category.id]
        }
      })
    } else {
      const self = this
      this.categories.forEach(function (category) {
        category.childs = []
        self.$store.dispatch('listTransport', {
          tech_id: category.id
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
