<template>
  <div>
    <sear-map :markers="vehicles"></sear-map>
    <sear-header></sear-header>
    <sear-order></sear-order>
  </div>
</template>

<script>
export default {
  name: 'Order',
  data () {
    return {
      vehicles: [
        {
          avatar: 'uploads/1542707445ewy5R.jpg',
          email: 'nurs@gmail.com',
          id: 762806663,
          info: 'qwerty',
          lat: 43.2389,
          lng: 76.8897,
          icon: 'https://thumb.ibb.co/ksxXEf/map-marker.png',
          mark_name: 'BMW',
          name: 'Нурсултан',
          phone: 7478612496,
          role: 'drivers',
          tech_name: 'Грузовые',
          transport_icon: 'uploads/1542707445ewy5R.jpg',
          transport_name: 'Кобра',
          visible: false
        }
      ]
    }
  }
}
</script>

<style scoped>
</style>
