<template>
  <div>
    <sear-map :markers="filteredVehicles" :type="1"></sear-map>
    <sear-header></sear-header>
    <sear-list-vehicle v-if="viewList"></sear-list-vehicle>
    <sear-order-direct v-if="viewDirectOrder" :currentVehicle="currentVehicle"></sear-order-direct>
    <sear-order v-if="viewOrder"></sear-order>
  </div>
</template>

<script>
export default {
  name: 'Vehicles',
  data () {
    return {
      viewList: true,
      viewDirectOrder: false,
      viewOrder: false,
      vehicles: [
        // {
        //   id: 735615798,
        //   phone: 7478353485,
        //   name: 'Pour',
        //   role: 'workers',
        //   email: 'Pour@gmail.com',
        //   info: 'I am a child',
        //   lng: 76.8897,
        //   lat: 43.2389,
        //   avatar: 'uploads/1545549714AoHHU.jpg',
        //   tech_name: 'Грузовые',
        //   tech_id: 1,
        //   tech_icon: '/public/icons/menu/tech_1.png',
        //   marker_icon: '/public/icons/marker/tech_1.png',
        //   transport_name: 'Стрела',
        //   transport_icon: null,
        //   mark_name: 'BMW',
        //   distance: 1.8211174068724774,
        //   images: [
        //     'uploads/1545634883PpHtZ.jpg',
        //     'uploads/1545634883cpTSG.jpg',
        //     'uploads/1545634883G4ScD.jpg'
        //   ]
        // }
      ],
      filteredVehicles: [],
      currentVehicle: {}
    }
  },
  methods: {
    getVehicles () {
      this.$store.dispatch('listGeoPositions', {
        params: {
          // tech_id: techId
        },
        headers: {
          auth: this.$store.getters.userToken
        }
      })
        .then(response => {
          this.vehicles = response
        })
    },
    filterVehicles (techId) {
      if (techId) {
        this.filteredVehicles = this.vehicles.filter(obj => {
          return obj.tech_id === techId
        })
      } else {
        this.filteredVehicles = this.vehicles
      }
    },
    makeOrder (vehicle) {
      this.currentVehicle = vehicle
      this.viewList = false
      this.viewOrder = false
      this.viewDirectOrder = true
    },
    makeDirectOrder () {
      this.viewList = false
      this.viewOrder = true
      this.viewDirectOrder = false
    }
  },
  mounted () {
    this.getVehicles()
  },
  watch: {
    'vehicles' () {
      this.filterVehicles()
    }
  }
}
</script>

<style scoped>
</style>
