<template>
  <div>
    <sear-big-header :type="'material'" ref="header"></sear-big-header>
    <section class="home-tech margin0 view-vehicle">
      <div class="container-fluid padding0">
        <div class="container padding0">
          <div class="row">
            <div class="col-md-12 pb-2">
            <span class="tree">
              <router-link :to="{name: 'ListMaterial'}">&lt; Главная</router-link> / <a href="">{{company.cat.name}}</a> / <a href="">{{company.name}}</a>
            </span>
            </div>
          </div>
          <div class="row col-md-11 padding0">
            <a href="" class="view-map">
              <span>
                <svg version="1.2" viewBox="0 0 423.221 423.221">
                  <g>
                    <path d="M352.346,231.706l7.955-0.378c2.06-0.099,3.976-0.979,5.394-2.48l8.351-8.842c2.28-2.414,2.815-6.032,1.329-9.003
                      l-5.843-11.564l12.973-7.983c1.674-1.03,2.901-2.637,3.456-4.521l5.253-17.86c1.133-3.855-0.797-7.955-4.49-9.538l-7.879-3.326
                      l1.049-6.1l9.008-3.793c2.151-0.904,3.788-2.7,4.491-4.927l1.269-4.014l10.367,12.253c1.516,1.791,3.712,2.818,6.026,2.818
                      c4.398,0,7.976-3.565,7.976-7.948l-0.001-13.994l-0.322-15.146c-0.214-10.079-8.578-18.279-18.645-18.279
                      c-0.747,0-1.504,0.045-2.25,0.135l-77.435,9.292l0.531-1.442c0.876-2.378,0.558-5.056-0.852-7.161
                      c-1.409-2.106-3.763-3.422-6.294-3.519l-9.848-0.379c-2.599-0.09-5.105,1.101-6.658,3.17l-24.181,32.253l-21.325,10.69
                      l-17.579-9.057c-1.12-0.576-2.376-0.881-3.634-0.881c-2.187,0-4.3,0.915-5.794,2.51l-16.302,17.388
                      c-2.068,2.206-2.704,5.34-1.658,8.177l2.943,7.884l-10.435,9.887l-9.946,5.759c-2.84,1.645-4.361,4.805-3.873,8.051l0.831,5.539
                      c0.578,3.856,3.955,6.766,7.854,6.765c1.125,0,2.221-0.236,3.257-0.702l8.502-3.827l10.604-4.494l10.86,7.602
                      c0.921,0.646,1.948,1.081,3.047,1.292l16.603,3.165v4.104l-34.356-5.153c-1.383-0.212-2.799-0.047-4.097,0.466l-22.403,8.843
                      c-2.456,0.97-4.263,3.087-4.835,5.664l-4.38,19.712c-0.621,2.791,0.314,5.713,2.439,7.624l10.325,9.294
                      c1.665,1.498,3.893,2.222,6.122,1.996l19.936-2.109l0.574,29.839c0.014,0.731,0.129,1.455,0.34,2.151l3.636,12
                      c2.232,7.368,8.905,12.318,16.604,12.318c6.49,0,12.385-3.575,15.385-9.33l27.542-52.836c1.64-3.145,0.978-7.037-1.61-9.464
                      l-3.589-3.364l5.584-1.861c2.629-0.877,4.58-3.012,5.216-5.709c0.637-2.697-0.153-5.479-2.113-7.438l-8.196-8.117l0.544-0.688
                      l17.154,11.061l13.818,19.96c1.483,2.143,3.921,3.421,6.523,3.421c2.989,0,5.696-1.649,7.064-4.304l6.159-12.105l13.825,9.823
                      c1.362,0.968,2.948,1.48,4.585,1.48c2.357-0.001,4.585-1.043,6.114-2.861c1.498-1.781,2.126-4.133,1.723-6.452L352.346,231.706z
                       M245.226,298.895c-1.617,3.102-4.794,5.028-8.292,5.028c-4.149,0-7.745-2.668-8.948-6.639l-3.633-11.983l-0.574-29.84
                      c-0.042-2.214-1.017-4.325-2.675-5.793c-1.657-1.468-3.87-2.173-6.074-1.954l-19.956,2.067l-10.306-9.235l4.344-19.671
                      l22.372-8.839l37.33,5.6l14.892,19.379c0.341,0.455,9.062,9.044,9.062,9.044L245.226,298.895z M346.147,226.682
                      c-1.423,1.776-2.016,4.082-1.626,6.325l0.235,1.358l-13.705-9.738c-1.352-0.96-2.94-1.468-4.593-1.468
                      c-2.99,0-5.697,1.649-7.064,4.305l-6.182,12.064l-13.78-19.905c-0.596-0.86-1.344-1.584-2.225-2.152l-17.17-11.078
                      c-1.286-0.83-2.774-1.269-4.304-1.269c-2.267,0-4.43,0.972-5.936,2.665l-0.622,0.699c-2.789,3.138-2.648,7.921,0.32,10.89
                      l8.13,8.131l-9.099,3.075l-13.497-17.975v-7.436c0-3.795-2.704-7.073-6.431-7.796l-16.629-3.214l-10.862-7.603
                      c-2.212-1.549-5.144-1.863-7.636-0.814l-10.75,4.528l-8.507,3.911l-0.86-5.479l9.938-5.755c0.535-0.308,1.035-0.681,1.49-1.111
                      l10.445-9.895c2.309-2.186,3.09-5.527,1.991-8.511l-2.941-7.887l16.231-17.376l17.579,9.057c1.119,0.576,2.376,0.881,3.635,0.881
                      c1.226,0,2.453-0.29,3.551-0.838l21.385-10.692c1.095-0.55,2.061-1.356,2.796-2.335L303.607,102l9.794,0.3l-0.565,1.533
                      c-0.897,2.435-0.548,5.157,0.934,7.283c1.668,2.391,4.475,3.705,7.462,3.346l77.533-9.304c0.431-0.052,0.868-0.078,1.297-0.078
                      c5.748,0,10.524,4.688,10.647,10.449l0.321,15.062l-0.002,13.745l-10.33-12.209c-1.512-1.788-3.716-2.814-6.046-2.814
                      c-3.49,0-6.539,2.23-7.587,5.551l-1.267,4.08l-9.009,3.793c-2.497,1.052-4.268,3.271-4.738,5.938l-1.085,6.144
                      c-0.644,3.648,1.285,7.217,4.692,8.679l7.88,3.319l-5.228,17.826l-12.972,7.983c-3.531,2.172-4.794,6.606-2.94,10.313l5.831,11.574
                      l-8.311,8.824l-7.955,0.378C349.691,223.824,347.571,224.906,346.147,226.682z" vector-effect="non-scaling-stroke"></path>
                    <path d="M422.31,296.3l-9.319-17.706c-1.377-2.616-4.071-4.241-7.03-4.241c-2.629,0-5.073,1.293-6.558,3.468l-2.432-3.04
                      c-1.515-1.894-3.775-2.979-6.202-2.979c-1.437,0-2.849,0.391-4.083,1.132l-22.045,13.227c-2.104,1.261-3.526,3.47-3.805,5.907
                      l-1.877,16.424c-0.256,2.246,0.459,4.5,1.962,6.185c1.726,1.935,4.28,2.921,6.912,2.594l18.67-2.377l2.958,7.025
                      c1.242,2.952,4.114,4.859,7.316,4.859c0,0,0,0,0.001,0c0.455,0,0.913-0.04,1.362-0.118l10.25-1.782
                      c2.514-0.435,4.678-2.068,5.79-4.365l8.253-17.056C423.524,301.198,423.479,298.522,422.31,296.3z M407.02,316.996l-10.205,1.774
                      l-2.939-6.982c-1.243-2.951-4.115-4.858-7.317-4.858c-0.326,0-0.656,0.02-0.986,0.062l-18.665,2.407l1.849-16.379l21.969-13.242
                      l2.483,3.104c1.515,1.894,3.774,2.979,6.198,2.979c2.627,0,5.065-1.286,6.553-3.453l9.272,17.564L407.02,316.996z" vector-effect="non-scaling-stroke"></path>
                    <path d="M153.469,265.01l-37.698-24.424c-2.067-1.339-4.459-2.047-6.916-2.047c-3.966,0-7.648,1.844-10.051,4.947l-8.455-4.733
                      l-15.1-21.496h7.702c1.836,0,3.627-0.642,5.043-1.807l28.637-23.547l15.938-9.032c1.94-1.1,3.336-2.977,3.829-5.151
                      c0.494-2.175,0.045-4.471-1.231-6.301l-14.111-20.227c-1.531-2.193-4.057-3.468-6.713-3.395c-2.673,0.067-5.115,1.462-6.532,3.729
                      l-7.273,11.782l-8.339-9.378l16.573-12.187c3.068-2.257,4.102-6.388,2.459-9.822l-4.086-8.545
                      c-0.953-1.992-2.709-3.509-4.818-4.161c-2.11-0.653-4.415-0.391-6.323,0.715l-7.224,4.21l-32.646-13.813L32.686,97.102
                      c-2.844-1.604-6.443-1.283-8.957,0.795L11.31,108.156c-1.091,0.901-1.923,2.08-2.405,3.408l-8.429,23.181
                      c-0.871,2.393-0.534,5.079,0.9,7.185c1.435,2.105,3.811,3.4,6.358,3.467l17.89,0.422l11.355,28.074l-1.854,27.803
                      c-0.112,1.684,0.327,3.394,1.238,4.814l15.267,23.815c0.919,1.435,2.248,2.517,3.845,3.131l29.367,11.24
                      c0.266,0.254,0.562,0.465,0.876,0.633l8.586,4.807l-4.611,6.916c-1.646,2.469-1.782,5.619-0.355,8.222l9.663,17.604l-1.26,42.85
                      c-0.054,1.834,0.534,3.643,1.658,5.096l7.795,10.067c1.52,1.963,3.793,3.089,6.239,3.089c2.157,0,4.255-0.882,5.756-2.419
                      c1.485-1.521,2.274-3.552,2.222-5.719l-0.358-14.23l29.281-28.035c1.052-1.008,1.806-2.283,2.18-3.689l4.311-16.166
                      C157.713,270.388,156.365,266.888,153.469,265.01z M58.366,226.008l-15.258-23.78l1.854-27.803c0.079-1.189-0.115-2.4-0.561-3.504
                      l-11.36-28.102c-1.187-2.933-3.997-4.88-7.158-4.961L8.022,137.4l8.382-23.076l12.352-10.253l23.448,13.227
                      c0.265,0.149,0.538,0.283,0.807,0.396l32.653,13.815c2.281,0.964,4.924,0.798,7.07-0.441l7.194-4.239l4.105,8.471l-16.574,12.186
                      c-1.79,1.316-2.953,3.337-3.191,5.545s0.467,4.431,1.934,6.098l8.33,9.466c1.674,1.902,4.082,2.879,6.607,2.668
                      c2.525-0.206,4.744-1.557,6.087-3.705l7.321-11.713l14.079,20.065l-15.932,9.029c-0.394,0.222-0.773,0.482-1.134,0.777
                      l-28.608,23.54c0,0-8.894,0.001-8.941,0.002c-2.709,0.042-5.164,1.583-6.407,4.021c-1.277,2.505-1.072,5.482,0.536,7.771
                      l8.353,11.891L58.366,226.008z M144.799,287.798l-29.28,28.034c-1.608,1.54-2.5,3.699-2.447,5.924l0.333,14.091l-7.669-9.884
                      l1.26-42.851c0.041-1.412-0.295-2.813-0.975-4.051l-9.673-17.572l8.563-12.843c0.879-1.32,2.354-2.107,3.944-2.107
                      c0.91,0,1.797,0.263,2.566,0.762l37.673,24.358L144.799,287.798z" vector-effect="non-scaling-stroke"></path>
                    <path d="M136.06,107.943l4.304,3.261v39.436c0,4.382,3.567,7.947,7.951,7.947c1.535,0,3.034-0.45,4.335-1.302l27.258-17.822
                      c1.707-1.116,2.906-2.823,3.378-4.806l9.091-38.182c0.678-2.85-0.261-5.828-2.45-7.773l-8.403-7.47
                      c-2.229-1.982-5.52-2.545-8.282-1.414l-35.365,14.468c-2.666,1.09-4.485,3.446-4.865,6.301
                      C132.632,103.442,133.771,106.192,136.06,107.943z M176.209,87.212l8.384,7.411l-9.065,38.146l-27.165,17.76v-39.324
                      c0-2.458-1.165-4.816-3.117-6.308l-4.244-3.245L176.209,87.212z" vector-effect="non-scaling-stroke"></path>
                  </g>
                </svg>
              </span>
              На карте
            </a>
            <div class="col-md-5 big-back">
              <div class="background" :style="'background: url('+company.image+');'"></div>
            </div>
            <div class="col-md-7 big-info">
              <div class="title-rating">
                <h5>{{company.name}}</h5>
                <div>
                  <h6>Рейтинг</h6>
                  <star-rating
                    :rating="company.rating.ball"
                    :increment="1"
                    :max-rating="5"
                    :showRating="false"
                    :borderColor="'transparent'"
                    :activeColor="'#FAD220'"
                    :inactiveColor="'#D9D9D9'"
                    :read-only="true"
                    :star-size="18">
                    ></star-rating>
                </div>
              </div>
              <div class="infos">
                <span>Город</span>
                <span>Алматы</span>
              </div>
              <div class="infos">
                <span>Категория строй материала</span>
                <span>{{company.cat.name}}</span>
              </div>
              <!--<div class="infos">-->
                <!--<span>Марка</span>-->
                <!--<span>Shacman</span>-->
              <!--</div>-->
              <div class="infos">
                <span>Год выпуска</span>
                <span>{{company.year}}</span>
              </div>
              <div>
                <span>Информация:</span>
                <p>{{company.info}}</p>
              </div>
              <div class="make-order justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="mr-1">Номер:</span>
                  <a :href="'tel:'+company.phone">{{company.phone}}</a>
                </div>
                <div class="input-box">
                  <button class="dbutton">Доставка</button>
                </div>
              </div>
            </div>
            <!--<sear-material-order :current-company="company"></sear-material-order>-->
            <div class="vehicles container-fluid row">
              <template v-for="(product, index) in company.products">
                <div :key="index" class="col-md-3">
                  <div class="vehicle">
                    <div class="vehicle-bg" :style="'background: url('+product.image+');'">
                    </div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.info}}</p>
                    <h5>{{(product.price).toLocaleString()}} тг</h5>
                    <div class="input-box">
                      <button class="dbutton" @click="addToBasket(product)">{{product.in_basket ? 'В корзине' : 'В корзину'}}</button>
                    </div>
                  </div>
                </div>
              </template>
            </div>
            <div class="divhr"></div>
            <h2>Отзыв о водителе</h2>
            <div class="divhr"></div>
            <div class="reviews">
              <div class="review" :key="index" v-for="(review ,index) in company.rating.reviews">
                <div class="bg-review background" :style="{'background': 'url('+serverUrl+review.avatar+')'}"></div>
                <div class="text-review">
                  <div class="title-rating">
                    <h6>{{review.name}}</h6>
                    <span>Комментарий от {{review.created_at}}</span>
                    <div>
                      <star-rating
                        :rating="review.ball"
                        :increment="1"
                        :max-rating="5"
                        :showRating="false"
                        :borderColor="'transparent'"
                        :activeColor="'#FAD220'"
                        :inactiveColor="'#D9D9D9'"
                        :read-only="true"
                        :star-size="18">
                        ></star-rating>
                    </div>
                  </div>
                  <p>{{review.comment}}</p>
                </div>
              </div>
            </div>
            <div class="divhr"></div>
            <h2>Оставить отзыв</h2>
            <div class="divhr"></div>
            <template v-if="reviewSent">
              <div class="reviews" style="padding: 22px 0 0 16px;">
                <div class="review write-review">
                  <div class="bg-review background" :style="{'background': 'url('+serverUrl+userInfo.avatar+')'}"></div>
                  <div class="text-review">
                    <div class="title-rating">
                      <h6>{{userInfo.name}}</h6>
                    </div>
                    <textarea name="" id="" rows="4" placeholder="Write something..." v-model="userReview"></textarea>
                    <h6 class="mb-1">Оцените работу</h6>
                    <div class="error mb-1" v-if="$v.userRating.$error">
                      <li v-if="!$v.userRating.required">Оценка обязательно</li>
                    </div>
                    <div class="title-rating">
                      <star-rating
                        v-model="userRating"
                        :increment="1"
                        :max-rating="5"
                        :showRating="false"
                        :borderColor="'transparent'"
                        :activeColor="'#FAD220'"
                        :inactiveColor="'#D9D9D9'"
                        :star-size="45">
                        ></star-rating><div class="input-box">
                      <button class="dbutton" @click="addReview()">Отправить</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template v-else>
              <div class="alert alert-success mt-3">
                <h5>Вы успешно отправили</h5>
              </div>
            </template>
          </div>
        </div>
      </div>
    </section>
    <sear-footer></sear-footer>
  </div>
</template>

<script>
import StarRating from 'vue-star-rating'
import TheMask from 'vue-the-mask'
import config from '@/constants'
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'Company',
  data () {
    return {
      dropDownProfile: false,
      reviewSent: true,
      serverUrl: config.serverUrl,
      userRating: 0,
      userReview: '',
      userInfo: this.$store.getters.userInfo,
      company: {
        address: '',
        cat: {
          name: ''
        },
        id: 0,
        image: '',
        info: '',
        lat: 0,
        lng: 0,
        name: 'Name',
        phone: 0,
        products: [],
        rating: {},
        year: 0
      }
    }
  },
  components: {
    'the-mask': TheMask,
    'star-rating': StarRating
  },
  validations: {
    userRating: {
      required
    }
  },
  methods: {
    getCompany (id) {
      this.$store.dispatch('generalRequest', {
        headers: {
          auth: this.$store.getters.userToken
        },
        method: 'GET',
        url: 'material/company?id=' + id
      })
        .then(response => {
          console.log(response.result)
          this.company = response.result
        })
        .catch(error => {
          console.log(error)
        })
    },
    addReview () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$store.dispatch('generalRequest', {
          headers: {
            auth: this.$store.getters.userToken
          },
          data: {
            id: this.company.id,
            ball: this.userRating,
            comment: this.userReview
          },
          method: 'POST',
          url: 'material/rating/add'
        })
          .then(response => {
            if (response.statusCode === 200) {
              this.getCompany(this.company.id)
              this.reviewSent = false
            }
          })
          .catch(error => {
            console.log(error)
          })
      } else {
        console.log(this.$v)
      }
    },
    addToBasket (product) {
      if (product.in_basket) {
        this.$refs.header.big = !this.$refs.header.big
        window.scrollTo(0, 0)
      } else {
        this.$store.dispatch('generalRequest', {
          headers: {
            auth: this.$store.getters.userToken
          },
          data: {
            count: 1,
            company_material_id: product.id
          },
          method: 'POST',
          url: 'material/basket'
        })
          .then(response => {
            if (response.statusCode === 200) {
              product.in_basket = true
            }
            this.$refs.header.getBasket()
          })
      }
    }
  },
  mounted () {
    this.getCompany(this.$route.params.id)
  },
  watch: {
    'this.$route.params.id' (id) {
      this.getCompany(id)
    }
  }
}
</script>

<style scoped>

</style>
