<template>
  <div>
    <sear-map :markers="filteredMaterials" :type="2"></sear-map>
    <sear-header></sear-header>
    <sear-list-item v-if="viewList"></sear-list-item>
  </div>
</template>

<script>
export default {
  name: 'Vehicles',
  data () {
    return {
      viewList: true,
      viewDirectOrder: false,
      viewOrder: false,
      materials: [],
      filteredMaterials: [],
      currentMaterial: {},
      ownOrders: []
    }
  },
  methods: {
    getMaterials () {
      this.$store.dispatch('listMaterialsMap', {
        params: {
          // tech_id: techId
        },
        headers: {
          auth: this.$store.getters.userToken
        }
      })
        .then(response => {
          this.materials = response
        })
    },
    filterMaterial (id) {
      if (id) {
        this.filteredMaterials = this.materials.filter(obj => {
          return obj.cat.id === id
        })
      } else {
        this.filteredMaterials = this.materials
      }
    },
    makeOrder (vehicle) {
      this.currentVehicle = vehicle
      this.viewList = false
      this.viewOrder = false
      this.viewDirectOrder = true
    },
    makeDirectOrder () {
      this.viewList = false
      this.viewOrder = true
      this.viewDirectOrder = false
    }
  },
  mounted () {
    this.getMaterials()
    this.filterMaterial()
  },
  watch: {
    'materials' () {
      this.filterMaterial()
    }
  }
}
</script>

<style scoped>
</style>
