<template>
  <div>
    <sear-big-header :type="'parts'"></sear-big-header>
    <sear-footer></sear-footer>
  </div>
</template>

<script>
export default {
  name: 'Category'
}
</script>

<style scoped>

</style>
