<template>
  <router-view/>
</template>

<script>
export default {
  name: 'App',
  methods: {
    connectSocket (token) {
      this.$store.dispatch('SOCKET_CONNECT', {
        token: token
      })
    },
    checkExpire () {
      this.$store.dispatch('expireTime')
    },
    checkToken () {
      this.$store.dispatch('checkToken', {
        auth: this.$store.getters.userToken
      })
    }
  },
  beforeMount () {
    this.checkExpire()
    let userToken = this.$store.getters.userToken
    if (userToken) {
      this.checkToken(userToken)
      this.connectSocket(userToken)
    }
  }
  // watch: {
  //   '$store.getters.userToken': function (token) {
  //     this.connectSocket(token)
  //   }
  // }
}
</script>

<style lang="css" rel="stylesheet">
  @import './assets/css/style.css';
  @import './assets/css/media.css';
  @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css';
</style>
