<template>
  <div>
    <facebook-account-kit
      ref="accountKit"
      class="hidden"
      appId="581141829029199"
      version="v1.1"
      :fbAppEventsEnabled='true'
      :debug='true'
      :loginType='"PHONE"'
      state="SOMETHING">
    </facebook-account-kit>
    <section class="left-auth">
      <div class="leftbar" id="auth" v-bind:style="{height: '100vh'}">
        <img src="@/assets/images/logo.png" width="155" alt="">
        <h2 class="bluetitle">Sear Trans</h2>
        <form class="bigform" @submit.prevent="login">
          <div class="form" v-if="step1">
            <div class="input-group">
              <the-mask
                name="phone"
                v-model="User.phone"
                class="form-control"
                mask="+7 (###) ### ## ##"
                :class="{'has-value' : User.phone, focused: User.phone}"
              ></the-mask>
              <label>Ваш номер телефона</label>
              <span class="form-span">
                <svg version="1.2" viewBox="0 0 348.077 348.077" style=" width: 20px; height: 20px;">
                  <g>
                    <g>
                      <g>
                        <path d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076
                          c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257
                          c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194
                          C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02
                          C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876
                          c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029
                          C350.631,303.527,350.95,285.795,340.273,275.083z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
            </div>
            <div class="error" v-if="$v.User.phone.$error">
              <ul>
                <li v-if="!$v.User.phone.required">Укажите номер телефона</li>
                <!--<li :key="index" v-for="(error,index) in errors.phone">{{ error }}</li>-->
              </ul>
            </div>
            <div class="error" v-if="$route.query.loggedIn || this.$store.getters.isLoggedIn">
              <ul>
                <li>Авторизуйтесь</li>
              </ul>
            </div>
            <div class="error" v-if="errorAuth">
              <ul>
                <li>{{errorAuth}}</li>
              </ul>
            </div>
            <!--  <div class="input-group">
               <input type="text" class="form-control" name="email" v-model="User.email" required/>
               <label>Адрес электронной почты</label>
               <span class="form-span">
                 <svg version="1.2" viewBox="0 0 31.012 31.012" style="width: 22px; height: 22px;">
                   <g>
                     <g>
                       <path d="M25.109,21.51c-0.123,0-0.246-0.045-0.342-0.136l-5.754-5.398c-0.201-0.188-0.211-0.505-0.022-0.706
                         c0.189-0.203,0.504-0.212,0.707-0.022l5.754,5.398c0.201,0.188,0.211,0.505,0.022,0.706C25.375,21.457,25.243,21.51,25.109,21.51z
                         " vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                       <path d="M5.902,21.51c-0.133,0-0.266-0.053-0.365-0.158c-0.189-0.201-0.179-0.518,0.022-0.706l5.756-5.398
                         c0.202-0.188,0.519-0.18,0.707,0.022c0.189,0.201,0.179,0.518-0.022,0.706l-5.756,5.398C6.148,21.465,6.025,21.51,5.902,21.51z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                     </g>
                     <path d="M28.512,26.529H2.5c-1.378,0-2.5-1.121-2.5-2.5V6.982c0-1.379,1.122-2.5,2.5-2.5h26.012c1.378,0,2.5,1.121,2.5,2.5v17.047
                       C31.012,25.408,29.89,26.529,28.512,26.529z M2.5,5.482c-0.827,0-1.5,0.673-1.5,1.5v17.047c0,0.827,0.673,1.5,1.5,1.5h26.012
                       c0.827,0,1.5-0.673,1.5-1.5V6.982c0-0.827-0.673-1.5-1.5-1.5H2.5z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                     <path d="M15.506,18.018c-0.665,0-1.33-0.221-1.836-0.662L0.83,6.155C0.622,5.974,0.6,5.658,0.781,5.449
                       c0.183-0.208,0.498-0.227,0.706-0.048l12.84,11.2c0.639,0.557,1.719,0.557,2.357,0L29.508,5.419
                       c0.207-0.181,0.522-0.161,0.706,0.048c0.181,0.209,0.16,0.524-0.048,0.706L17.342,17.355
                       C16.835,17.797,16.171,18.018,15.506,18.018z" vector-effect="non-scaling-stroke" style="fill: rgb(0, 0, 0);"></path>
                   </g>
                 </svg>
               </span>
             </div>
             <div class="error" v-if="errors.email.length">
               <ul>
                 <li v-for="error in errors.email">{{ error }}</li>
               </ul>
             </div> -->
            <div class="input-group">
              <input type="button" value="Продолжить" @click.prevent="login" class="continue">
            </div>
          </div>
        </form>
        <div class="form" v-if="step2">
          <h6>Введите 4-х значный код из СМС</h6>
          <div class="input-group">
            <input type="text" class="form-control" />
            <label>Код подтверждения</label>
          </div>
          <div class="input-group">
            <input type="submit" value="Продолжить" class="continue" v-on:click="step2 = !step2, step1 = !step1">
          </div>
        </div>
      </div>
    </section>
    <section class="home2">
      <div class="container-fluid padding0">
        <div class="page-content">
          <!-- <div style="border: 40px solid #FAD220; border-radius: 160px 160px 0 0; border-bottom: 0;background-color: transparent; width:320px;height:160px; transform: rotate(-45deg)">
          </div>
          <div style="width: 515px; height: 202px; background-color: #fff; position: absolute; top:130px; left: -32px; transform: rotate(-39deg);"></div>
          <div style="border: 40px solid #FAD220; border-radius: 0 0 168px 168px; border-top: 0;background-color: transparent; width:336px;height:168px; transform: rotate(-45deg)">
          </div> -->
          <div class="top-header">
            <h2>Sear Trans</h2>
          </div>
          <div class="rotate">
            <div class="first-circle"></div>
            <div class="second-circle"></div>
          </div>
        </div>
      </div>
    </section>
    <sear-footer></sear-footer>
  </div>
</template>

<script>
import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'
import { TheMask } from 'vue-the-mask'
export default {
  name: 'SignIn',
  components: {
    'the-mask': TheMask
  },
  data () {
    return {
      errorAuth: '',
      step1: true,
      step2: false,
      User: {
        phone: '',
        email: ''
      },
      errors: {
        phone: []
        // email: []
      }
    }
  },
  validations: {
    User: {
      phone: {
        required,
        numeric,
        minLength: minLength(10),
        maxLength: maxLength(10)
      }
    }
  },
  methods: {
    login () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        // this.$store.dispatch('loginByPhone', {
        //   phone: this.User .phone
        // })
        //   .then(response => {
        //     console.log(response)
        //   })
        //   .catch(error => {
        //     console.log(error)
        //   })
        this.$store.dispatch('checkPhone', {
          phone: this.User.phone
        })
          .then(response => {
            this.$refs.accountKit.login({
              countryCode: '+7',
              phoneNumber: this.User.phone,
              display: 'modal'
            },
            this.loginCallback)
          })
          .catch(error => {
            console.warn(error)
            this.errorAuth = 'Номер не существует'
          })
      }
    },
    loginCallback (response) {
      this.$store.dispatch('accountKitCallback', {
        response: response,
        phone: this.User.phone
      })
        .then(response => {
          if (response === 'success') {
            this.$store.dispatch('loginByPhone', {
              phone: this.User.phone
            })
              .then(response => {
                this.$router.push({
                  name: 'Vehicles'
                })
              })
              .catch(error => {
                console.log(error)
              })
          }
        })
        .catch(error => {
          this.errorAuth = error
        })
    }
  },
  mounted () {
    if (this.$store.getters.isLoggedIn) {
      this.$router.push({
        name: 'Vehicles'
      })
    }
    // this.$store.dispatch('generalRequest', {
    //   method: 'GET',
    //   url: 'list/techs'
    // })
    //   .then(response => {
    //     console.log(response)
    //   })
    //   .catch(error => {
    //     console.log(error)
    //   })
  }
}
</script>

<style scoped>

</style>
